<li class="has-date">
  <%= link_to death_path death do %>
    <div class="item-container">
      <h3>
        <%= fa_icon 'child' %> 
        <%= t('.deceased_name') %>: <span><%= death.surname + ' ' + death.given_name %></span>
      </h3>
      <p>
        <span><%= fa_icon 'id-card' %></span>
        <%= t('.dc_number') %>: 
        <span class="certificate_number"><%= death.certificate_number %></span>
      </p>
      <p>
        <span><%= fa_icon 'calendar' %></span>
        <%= t('.date_of_birth') %>: <span><%= formated_date death.date_born %></span>
      </p>
      <p>
        <span><%= fa_icon 'square' %></span>
        <%= t('.place_of_birth') %>: <span><%= death.place_born %></span>
      </p>
      <p>
        <%= fa_icon 'male' %>
        <%= fa_icon 'female' %> 
        <span><%= t('.sex') %>:</span> 
        <span><%= t('.'+ death.sex) %></span>
      </p>
      <p>
        <span><%= fa_icon 'male' %></span>
        <%= t('.fathers_name') %>: <span><%= death.father %></span>
      </p>
      <p>
        <span><%= fa_icon 'female' %></span>
        <%= t('.mothers_name') %>: <span><%= death.mother %></span>
      </p>
      <time class="item-date-ribbon"><%= t('.died') %>: <%= formated_date death.date_died %></time>
    </div>
  <% end %>
  <p class="approval-link">
    <a href="#">
      <%= t('.inform_guardians') %> 
      <%= fa_icon 'user' %>
      <%= fa_icon 'minus' %>
    </a>  
  </p>
</li>
