<% choice_factor = '88888888' %>
<h1><%= t('.title') %></h1>
<div class="main register-citizen">
  <%= my_form_for @death, url: deaths_path(@death), html: { id: "new-citizen", class: 'form'} do |f| %>
    <h2><%= t('.dc_form') %></h2>
    <%= f.label :administrative_region_id, t('.region') %>
    <input type="text" value="<%= current_agent.administrative_region_name %>" name="administrative_region" disabled/>
    <label><%= t('.division') %></label>
    <input type="text" value="<%= current_agent.division_name %>" name="division" disabled/>
    <label><%= t('.sub_division') %></label>
    <input type="text" value="<%= current_agent.sub_division_name.capitalize %>" name="administrative_region" disabled/>
    <label><%= t('.council') %></label>
    <input type="text" value="<%= current_agent.council_name.capitalize + ' Council' %>" name="administrative_region" disabled/>
    <%= f.hidden_field :council_id, value: current_agent.council.id, hidden: true %>
    <%= f.label :certificate_number, t('.certificate_number') %>
    <%= f.text_field :certificate_number %>

    <h3><%= t('.owners_details') %></h3>

    <%= f.label :surname, t('.surname') %>
    <%= f.text_field :surname %>
    <%= f.label :given_name, t('.given_name') %>
    <%= f.text_field :given_name %>
    <%= f.label :date_died, t('.date_of_death') %>
    <%= f.text_field :date_died, class: 'datepicker' %>
    <%= f.label :place_died, t('.at') %>
    <%= f.text_field :place_died %>
    <%= f.label :mr, t('.mr') %>
    <%= f.text_field :mr %>
    <%= f.label :date_born, t('.date_of_birth') %>
    <%= f.text_field :date_born, class: 'datepicker' %>
    <%= f.label :place_born, t('.place_of_birth') %>
    <%= f.text_field :place_born %>
    <%= f.label :sex, t('.sex') %>
    <%= f.select :sex, options_for_select([[t('.choose_sex'), choice_factor], [t('.male'), 'male'], [t('.female'), 'female']], @death.sex), {}, { class: 'sex chosen-select' } %>
    <%= f.label :marital_status, t('.marital_status') %>
    <%= f.select :marital_status, options_for_select([[t('.choose_status'), choice_factor], [t('.married'), 'married'], [t('.single'), 'single']], @death.marital_status), {}, { class: 'sex chosen-select' } %>
    <%= f.label :residence, t('.resident_at') %>
    <%= f.text_field :residence %>
    <%= f.label :occupation, t('.occupation') %>
    <%= f.text_field :occupation %>
    <%= f.label :father, t('.father') %>
    <%= f.text_field :father %>
    <%= f.label :mother, t('.mother') %>
    <%= f.text_field :mother %>
    <%= f.label :date_drawn, t('.date_drawn') %>
    <%= f.text_field :date_drawn, class: 'datepicker' %>
    <%= f.label :declaration, t('.declaration') %>
    <%= f.text_field :declaration %>

    <h3><%= t('.declarant') %></h3>
    <%= f.label :d_name, t('.full_name') %>
    <%= f.text_field :d_name %>
    <%= f.label :d_occupation, t('.occupation') %>
    <%= f.text_field :d_occupation %>
    <%= f.label :d_capacity, t('.capacity') %>
    <%= f.select :d_capacity, options_for_select([[t('.choose_capacity'), choice_factor], [t('.f_head'), 'f_head'], [t('.relative'), 'relative'], [t('.pwk'), 'pwk'], [t('.m_head'), 'm_head'], [t('.p_head'), 'p_head']], @death.d_capacity), {}, { class: 'sex chosen-select' } %>

    <h3><%= t('.first_witness') %></h3>
    <%= f.label :fw_name, t('.full_name') %>
    <%= f.text_field :fw_name %>
    <%= f.label :fw_occupation, t('.occupation') %>
    <%= f.text_field :fw_occupation %>
    <%= f.label :fw_residence, t('.residence') %>
    <%= f.text_field :fw_residence %>
    

    <h3><%= t('.second_witness') %></h3>
    <%= f.label :sw_name, t('.full_name') %>
    <%= f.text_field :sw_name %>
    <%= f.label :sw_occupation, t('.occupation') %>
    <%= f.text_field :sw_occupation %>
    <%= f.label :sw_residence, t('.residence') %>
    <%= f.text_field :sw_residence %>

    <h3><%= t('.attestators') %></h3>

    <%= f.label :registrar, t('.registrar') %>
    <%= f.text_field :registrar %>
    <%= f.label :secretary, t('.secretary') %>
    <%= f.text_field :secretary %>
    <%= f.label :date_made, t('.date_done') %>
    <%= f.text_field :date_made, class: 'datepicker' %>
    
    <div class="submit">
      <button type="submit"><%= t('.create_certificate') %></button>
    </div>
  <% end %>
  <% if I18n.locale == :en %>
  <script>
    $(function() {
      $('.datepicker').pickadate({
        selectYears: 120,
        max: new Date(),
        selectMonths: 12,
        format: 'dd/mm/yyyy',
      });
    });
  </script>
  <% else %>
    <script>
      $(function() {
        $('.datepicker').pickadate({
          monthsFull: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
           weekdaysShort: ['Dim', 'Lun', 'Mar', 'Mer', 'Jeu', 'Ven', 'Sam'],
           today: 'aujourd\'hui',
           clear: 'effacer',
           close: 'fermer',
           format: 'dd/mm/yyyy',
          selectYears: 120,
          max: new Date(),
          selectMonths: 12
        });
      });
    </script>
  <% end %>
  <script>
     $(".chosen-select").chosen()
  </script>
</div>

