<h1><%= @death.surname.capitalize + ' ' +  @death.given_name.capitalize %></h1>
<% choice_factor = '88888888' %>
<div class="main register-citizen">
  <div id="new-citizen">
    <h2><%= t('.death_certificate') %></h2>
    <label><%= t('.region') %></label>
    <input type="text" value="<%= current_agent.administrative_region_name.capitalize %>" disabled>
    <label><%= t('.division') %></label>
    <input type="text" value="<%= current_agent.division_name.capitalize %>" disabled>
    <label><%= t('.sub_division') %></label>
    <input type="text" value="<%= current_agent.sub_division_name.capitalize %>" disabled>
    <label><%= t('.council') %></label>
    <input type="text" value="<%= current_agent.council_name.capitalize %>" disabled>
    <label><%= t('.certificate_number') %></label>
    <input type="text" value="<%=  @death.certificate_number.capitalize %>" disabled>

    <h3><%= t('.owners_details') %></h3>

    <label><%= t('.surname') %></label>
    <input type="text" value="<%= @death.surname.capitalize %>" disabled>
    <label><%= t('.given_name') %></label>
    <input type="text" value="<%= @death.given_name.capitalize %>" disabled>
    <label><%= t('.date_of_death') %></label>
    <input type="text" value="<%= @death.date_died %>" disabled>
    <label><%= t('.at') %></label>
    <input type="text" value="<%= @death.place_died.capitalize %>" disabled>
    <label><%= t('.mr') %></label>
    <input type="text" value="<%= @death.mr.capitalize %>" disabled>
    <label><%= t('.date_of_birth') %></label>
    <input type="text" value="<%= @death.date_born %>" disabled>
    <label><%= t('.place_of_birth') %></label>
    <input type="text" value="<%= @death.place_born.capitalize %>" disabled>
    <label><%= t('.sex') %></label>
    <input type="text" value="<%= t('.' + @death.sex) %>" disabled>
    <label><%= t('.marital_status') %></label>
    <input type="text" value="<%= t('.' + @death.marital_status) %>" disabled>
    <label><%= t('.occupation') %></label>
    <input type="text" value="<%= @death.occupation.capitalize %>" disabled>
    <label><%= t('.resident_at') %></label>
    <input type="text" value="<%= @death.residence.capitalize %>" disabled>
    <label><%= t('.father') %></label>
    <input type="text" value="<%= @death.father.capitalize %>" disabled>
    <label><%= t('.mother') %></label>
    <input type="text" value="<%= @death.mother.capitalize %>" disabled>
    <label><%= t('.date_drawn') %></label>
    <input type="text" value="<%= @death.date_drawn %>" disabled>
    <label><%= t('.declaration') %></label>
    <input type="text" value="<%= @death.declaration.capitalize %>" disabled>

    <h3><%= t('.declarant') %></h3>
    <label><%= t('.full_name') %></label>
    <input type="text" value="<%= @death.d_name.capitalize %>" disabled>
    <label><%= t('.occupation') %></label>
    <input type="text" value="<%= @death.d_occupation.capitalize %>" disabled>
    <label><%= t('.capacity') %></label>
    <input class="small-input" type="text" value="<%= t('.' + @death.d_capacity) %>" disabled>

    <h3><%= t('.first_witness') %></h3>
    <label><%= t('.full_name') %></label>
    <input type="text" value="<%= @death.fw_name.capitalize %>" disabled>
    <label><%= t('.occupation') %></label>
    <input type="text" value="<%= @death.fw_occupation.capitalize %>" disabled>
    <label><%= t('.residence') %></label>
    <input type="text" value="<%= @death.fw_residence.capitalize %>" disabled>

    <h3><%= t('.second_witness') %></h3>
    <label><%= t('.full_name') %></label>
    <input type="text" value="<%= @death.sw_name.capitalize %>" disabled>
    <label><%= t('.occupation') %></label>
    <input type="text" value="<%= @death.sw_occupation.capitalize %>" disabled>
    <label><%= t('.residence') %></label>
    <input type="text" value="<%= @death.sw_residence.capitalize %>" disabled>

    <h3><%= t('.attestators') %></h3>
    <p><%= t('.by') %></p>
    <input type="text" value="<%= @death.registrar.capitalize %>" disabled>
    <label><%= t('.registrar') %></label>
    <p><%= t('.present') %></p>
    <input type="text" value="<%= @death.secretary.capitalize %>" disabled>
    <label><%= t('.secretary') %></label>
    <p><%= t('.date_made') %></p>
    <label><%= t('.date_done') %></label>
    <input type="text" value="<%= @death.date_made %>" disabled>
  </div>
</div>

