<div class="login-and-creator register">
  <h4><%= t('.login_to_account') %></h4>
  <div class="aside-container">
    <%= image_tag  "councils.jpg" %>
  </div>
  <div class="page-form" autocomplete="off">
    <%= form_tag sessions_path, class: "form new-account" do %>
      <h5><%= t('.login_form') %></h5>
      <%= label_tag :username, t('.username'), autocomplete: :off %>
      <%= text_field_tag :username %>
      <%= label_tag :password, t('.password') %>
      <%= password_field_tag :password %>
      <%= check_box_tag(:watcher, value = "1", checked = false, options = {class: "watcher-check"}) %>
      <%= label_tag :watcher, t('.watcher'), class: "watcher" %>
      <%= label_tag :base, t("flash.captcha") %>
      <div class="captcha-container">
        <%= recaptcha_tags %>
      </div>
      <div class="submitter">
        <button type="submit"><%= t('.login') %></button>
      </div>
    <% end %>
  </div>
</div>


