<header class="stat-page">
  <h1 class="stat-page"><%= t('statistics.marriage_stats') %></h1>
  <nav class="stat-nav">
    <ul>
      <li class="<%= @chosen == 'week' ? 'stat-chosen' : '' %>">
        <%= link_to marriages_this_week_path do %>
          <%= t('statistics.week') %>
        <% end %>
      </li>
      <li class="<%= @chosen == 'month' ? 'stat-chosen' : '' %>">
        <%= link_to marriages_this_month_path do %>
          <%= t('statistics.month') %>
        <% end %>
      </li>
      <li class="<%= @chosen == 'year' ? 'stat-chosen' : '' %>">
        <%= link_to marriages_this_year_path do %>
          <%= t('statistics.year') %>
        <% end %>
      </li>
    </ul>
  </nav>
</header>

<% if !@stats[:mean].nil? && @stats[:mean] > 0 %>
  <%= render 'charts', { data: @data, stats: @stats } %>
<% else %>
  <h3 class="nothing"><%= t('statistics.no_marriages') %> <%= @chosen %></h3>
<% end %>




