<ul class="blog-site">
  <li class="menu-item selected">
    <span class="item" href="/ui/statistics"><%= fa_icon 'table' %> <%= t('statistics.basic_stats') %></span>
    <div class="sub-menu show">
      <ul>
        <li class="<%= @menu == 'blog-home' ? 'sub-menu-selected' : '' %>">
          <%= link_to blog_home_path do %>
            <%= fa_icon "home" %> Blog
            <%= image_tag  "fs.gif", class:  'loader' %>
          <% end %>
        </li>
        <li class="<%= @menu == 'day-graphs' ? 'sub-menu-selected' : '' %>">
          <%= link_to day_in_graphs_path do %>
            <%= fa_icon "list" %> <%= t('statistics.day_in_charts') %>
            <%= image_tag  "fs.gif", class:  'loader' %>
          <% end %>
        </li>
        <li class="<%= @menu == 'blog-deaths' ? 'sub-menu-selected' : '' %>">
          <%= link_to todays_deaths_path do %>
            <%= fa_icon "cut" %> <%= t('statistics.death_stats') %>
            <%= image_tag  "fs.gif", class:  'loader' %>
          <% end %>
        </li>
        <li class="<%= @menu == 'blog-births' ? 'sub-menu-selected' : '' %>">
          <%= link_to todays_births_path do %>
            <%= fa_icon "child" %> <%= t('statistics.birth_stats') %>
            <%= image_tag  "fs.gif", class:  'loader' %>
          <% end %>
        </li>
        <li class="<%= @menu == 'blog-marriages' ? 'sub-menu-selected' : '' %>">
          <%= link_to todays_marriages_path do %>
            <%= fa_icon "certificate" %> <%= t('statistics.marriage_stats') %>
            <%= image_tag  "fs.gif", class:  'loader' %>
          <% end %> 
        </li>
        <li class="<%= @menu == 'blog-search' ? 'sub-menu-selected' : '' %>">
          <%= link_to blog_search_path do %>
            <%= fa_icon "search" %> <%= t('statistics.get_stats') %>
            <%= image_tag  "fs.gif", class:  'loader' %>
          <% end %>      
        </li>
      </ul>
    </div>
  </li>

  <p><%= t('.beta_mode').html_safe %><span class="highlight-green">Team Agape <%= fa_icon 'heart' %></span></p>
</ul>


