<ul>
  <li class="menu-item <%= @tab == 'births' ? 'selected' : '' %>">
    <span class="item" href="/ui/births">
      <%= fa_icon 'child' %> <%= t('.births') %>
      <span class="notifier"><%= @births_notifier %></span>
    </span>
    <div class="sub-menu show">
      <ul>
        <li class="<%= @menu == 'latest-b' ? 'sub-menu-selected' : '' %>">
         <%= link_to latest_births_path do %>
            <%= fa_icon 'bell' %> <%= t('.new_births') %>
          <% end %>
        </li>
        <li class="<%= @menu == 'new-b' ? 'sub-menu-selected' : '' %>">
           <%= link_to new_birth_path do %>
            <%= fa_icon 'plus' %> <%= t('.new_certificate') %>
          <% end %>
        </li>
        <li class="<%= @menu == 'index-b' ? 'sub-menu-selected' : '' %>">
         <%= link_to births_path do %>
            <%= fa_icon 'list' %> <%= t('.latest_certificates') %>
          <% end %>
        </li>
        <li class="<%= @menu == 'find-b' ? 'sub-menu-selected' : '' %>">
         <%= link_to find_births_path do %>
            <%= fa_icon 'search' %> <%= t('.child_or_certificate') %>
          <% end %>
        </li>
      </ul>
    </div>
  </li>
  <li class="menu-item <%= @tab == 'deaths' ? 'selected' : '' %>">
    <span class="item" href="/ui/deaths">
    <%= fa_icon 'exclamation-circle' %> <%= t('.deaths') %>
    <span class="notifier"><%= @deaths_notifier %></span>
    </span>
    <div class="sub-menu show">
      <ul>
        <li class="<%= @menu == 'latest' ? 'sub-menu-selected' : '' %>">
          <%= link_to latest_deaths_path do %>
            <%= fa_icon 'bell' %> <%= t('.new_deaths') %>
          <% end %>
        </li>
        <li class="<%= @menu == 'new' ? 'sub-menu-selected' : '' %>">
          <%= link_to new_death_path do %>
            <%= fa_icon 'plus' %> <%= t('.new_certificate') %>
          <% end %>
        </li>
        <li class="<%= @menu == 'index' ? 'sub-menu-selected' : '' %>">
          <%= link_to deaths_path do %>
            <%= fa_icon 'list' %> <%= t('.latest_certificates') %>
          <% end %>
        </li>
        <li class="<%= @menu == 'search' ? 'sub-menu-selected' : '' %>">
          <%= link_to find_deaths_path do %>
            <%= fa_icon 'search' %> <%= t('.find_deceased') %>
          <% end %>
        </li>
      </ul>
    </div>
  </li>
  <li class="menu-item <%= @tab == 'marriages' ? 'selected' : '' %>">
    <span class="item" href="/ui/marriages"><%= fa_icon 'certificate' %> <%= t('.marriages') %>
    </span>
    <div class="sub-menu show">
      <ul>
        <li class="<%= @menu == 'new-m' ? 'sub-menu-selected' : '' %>">
          <%= link_to new_marriage_path do %>
            <%= fa_icon 'plus' %> <%= t('.new_marriage') %>
          <% end %>
        </li>
        <li class="<%= @menu == 'index-m' ? 'sub-menu-selected' : '' %>">
          <%= link_to marriages_path do %>
            <%= fa_icon 'list' %> <%= t('.latest_marriages') %>
          <% end %>
        </li> 
        <li class="<%= @menu == 'find-m' ? 'sub-menu-selected' : '' %>">
          <%= link_to find_marriages_path do %>
            <%= fa_icon 'search' %> <%= t('.find_marriage') %>
          <% end %>
        </li>
        <!--<li class="<%= @menu == 'divorced' ? 'sub-menu-selected' : '' %>">
          <%= link_to divorced_marriages_path do %>
            <%= fa_icon 'cut' %> Divorced
          <% end %>
        </li>-->
      </ul>
    </div>
  </li>
  <li class="menu-item <%= @tab == 'stats' ? 'selected' : '' %>">
    <span class="item" href="/ui/statistics"><%= fa_icon 'table' %> <%= t('.statistics') %></span>
    <div class="sub-menu show">
      <ul>
        <li class="<%= @menu == 'b-stats' ? 'sub-menu-selected' : '' %>">
          <%= link_to births_this_week_path do %>
            <%= fa_icon 'child' %> <%= t('.birth_statistics') %>
          <% end %>
        </li>
        <li class="<%= @menu == 'm-stats' ? 'sub-menu-selected' : '' %>">
          <%= link_to marriages_this_week_path do %>
            <%= fa_icon 'certificate' %> <%= t('.marriage_statistics') %>
          <% end %>
        </li>
        <li class="<%= @menu == 'd-stats' ? 'sub-menu-selected' : '' %>">
          <%= link_to deaths_this_week_path do %>
            <%= fa_icon 'cut' %> <%= t('.death_statistics') %>
          <% end %>
        </li>
        <li class="<%= @menu == 's-stats' ? 'sub-menu-selected' : '' %>">
          <%= link_to search_path do %>
            <%= fa_icon 'search' %> <%= t('.search_statistics') %>
          <% end %>
        </li>
      </ul>
    </div>
  </li>
  <li class="menu-item analysis <%= @tab == 'analysis' ? 'selected' : '' %>">
    <span class="item" href="/ui/statistics"><%= fa_icon 'bar-chart' %> <%= t('shared.hospital_header.analysis') %></span>
    <div class="sub-menu show">
      <ul>
        <li class="<%= @menu == 'infant_health' ? 'sub-menu-selected' : '' %>">
          <%= link_to infant_health_analysis_path do %>
            <%= fa_icon 'child' %> <%= t('shared.hospital_header.infant_health') %>
          <% end %>
        </li>
        <li class="<%= @menu == 'maternal_health' ? 'sub-menu-selected' : '' %>">
          <%= link_to maternal_health_analysis_path do %>
            <%= fa_icon 'female' %> <%= t('shared.hospital_header.maternal_health') %>
          <% end %>
        </li>
        <li class="<%= @menu == 'death' ? 'sub-menu-selected' : '' %>">
          <%= link_to death_analysis_path(set: "all") do %>
            <%= fa_icon 'info' %> <%= t('shared.hospital_header.death') %>
          <% end %>
        </li>
        <li class="<%= @menu == 'appointments' ? 'sub-menu-selected' : '' %>">
          <%= link_to appointments_analysis_path do %>
            <%= fa_icon 'calendar' %> <%= t('shared.hospital_header.appointments') %>
          <% end %>
        </li>
        <li class="forecast <%= @menu == 'forecast' ? 'sub-menu-selected' : '' %>">
          <%= link_to forecast_path do %>
            <%= fa_icon 'line-chart' %> <%= t('shared.hospital_header.forecasts') %>
          <% end %>
        </li>
        <li class="<%= @menu == 'defects' ? 'sub-menu-selected' : '' %>">
          <%= link_to birth_defects_path do %>
            <%= fa_icon 'wheelchair' %> <%= t('shared.hospital_header.birth_defects') %>
          <% end %>
        </li>
        <li class="<%= @menu == 'causes-of-death' ? 'sub-menu-selected' : '' %>">
          <%= link_to causes_of_death_path do %>
            &#x271d; <%= t('shared.hospital_header.causes_of_deaths') %> 
          <% end %>
        </li>
      </ul>
    </div>
  </li>
  <li class="menu-item <%= @tab == 'profile' ? 'selected' : '' %>">
    <span class="item">
    <%= fa_icon 'user' %> <%= t('.your_profile') %>
    </span>
    <div class="sub-menu show">
      <ul>
        <li class="<%= @menu == 'agents' ? 'sub-menu-selected' : '' %>">
          <%= link_to agents_path do %>
            <%= fa_icon 'globe' %> <%= t('.council_details') %>
          <% end %>
        </li>
        <li class="<%= @menu == 'view-profile' ? 'sub-menu-selected' : '' %>">
          <%= link_to agent_path(current_agent) do %>
            <%= fa_icon 'user-circle' %> <%= t('.view_profile') %>
          <% end %>
        </li>
        <li class="<%= @menu == 'edit-profile' ? 'sub-menu-selected' : '' %>">
          <%= link_to edit_agent_path(current_agent) do %>
            <%= fa_icon 'edit' %> <%= t('.edit_profile') %>
          <% end %>
        </li>
        <li class="<%= @menu == 'logout' ? 'sub-menu-selected' : '' %>">
          <%= link_to sign_out_path do %>
            <%= fa_icon 'sign-out' %> <%= t('.logout') %>
          <% end %>
        </li>
      </ul>
    </div>
  </li>
</ul>
