<ul>
  <li class="menu-item <%= @tab == 'new-borns' ? 'selected' : '' %>">
    <span class="item" href="/ui/births">
      <%= fa_icon 'child' %> <%= t('.births') %>
    </span>
    <div class="sub-menu show">
      <ul>
        <li class="<%= @menu == 'nb-rec' ? 'sub-menu-selected' : '' %>">
         <%= link_to new_borns_path do %>
            <%= fa_icon 'bell' %> <%= t('.new_births') %>
          <% end %>
        </li>
        <li class="<%= @menu == 'nb-new' ? 'sub-menu-selected' : '' %>">
           <%= link_to new_new_born_path do %>
            <%= fa_icon 'plus' %> <%= t('.register_child') %>
          <% end %>
        </li>
        <li class="<%= @menu == 'nb-find' ? 'sub-menu-selected' : '' %>">
         <%= link_to find_new_borns_path do %>
            <%= fa_icon 'search' %> <%= t('.find_child') %>
          <% end %>
        </li>
      </ul>
    </div>
  </li>
  <li class="menu-item <%= @tab == 'deceaseds' ? 'selected' : '' %>">
    <span class="item" href="/ui/deaths">
    <%= fa_icon 'exclamation-circle' %> <%= t('.deaths') %>
    </span>
    <div class="sub-menu show">
      <ul>
        <li class="<%= @menu == 'd-all' ? 'sub-menu-selected' : '' %>">
          <%= link_to deceaseds_path do %>
            <%= fa_icon 'bell' %> <%= t('.new_deaths') %>
          <% end %>
        </li>
        <li class="<%= @menu == 'd-new' ? 'sub-menu-selected' : '' %>">
          <%= link_to new_deceased_path do %>
            <%= fa_icon 'plus' %> <%= t('.register_death') %>
          <% end %>
        </li>
        <li class="<%= @menu == 'd-find' ? 'sub-menu-selected' : '' %>">
          <%= link_to find_deceaseds_path do %>
            <%= fa_icon 'search' %> <%= t('.find_deceased') %>
          <% end %>
        </li>
      </ul>
    </div>
  </li>
  <li class="menu-item <%= @tab == 'stats' ? 'selected' : '' %>">
    <span class="item" href="/ui/statistics"><%= fa_icon 'table' %> <%= t('.statistics') %></span>
    <div class="sub-menu show">
      <ul>
        <li class="<%= @menu == 'b-stats' ? 'sub-menu-selected' : '' %>">
          <%= link_to new_borns_this_week_path do %>
            <%= fa_icon 'child' %> <%= t('.birth_stats') %>
          <% end %>
        </li>
        <li class="<%= @menu == 'd-stats' ? 'sub-menu-selected' : '' %>">
          <%= link_to deceaseds_this_week_path do %>
            <%= fa_icon 'cut' %> <%= t('.death_stats') %>
          <% end %>
        </li>
        <li class="<%= @menu == 's-stats' ? 'sub-menu-selected' : '' %>">
          <%= link_to unit_search_path do %>
            <%= fa_icon 'search' %> <%= t('.search_stats') %>
          <% end %>
        </li>
      </ul>
    </div>
  </li>
  <li class="menu-item <%= @tab == 'clinic' ? 'selected' : '' %>">
    <span class="item" href="/ui/statistics"><%= fa_icon 'user-md' %> <%= t('.clinic') %></span>
    <div class="sub-menu show">
      <ul>
        <li class="<%= @menu == 'due' ? 'sub-menu-selected' : '' %>">
          <%= link_to due_today_path do %>
            <%= fa_icon 'list' %> <%= t('.todays_appointments') %>
          <% end %>
        </li>
        <li class="<%= @menu == 'one-day' ? 'sub-menu-selected' : '' %>">
          <%= link_to one_day_upcoming_path do %>
            <%= fa_icon 'calendar' %> <%= t('.upcoming_appointments') %>
          <% end %>
        </li>
        <li class="<%= @menu == 'clinic-missed' ? 'sub-menu-selected' : '' %>">
          <%= link_to missed_appointments_path do %>
            <%= fa_icon 'calendar' %> <%= t('.missed_appointments') %>
          <% end %>
        </li>
      </ul>
    </div>
  </li>
  <li class="menu-item analysis <%= @tab == 'analysis' ? 'selected' : '' %>">
    <span class="item" href="/ui/statistics"><%= fa_icon 'bar-chart' %> <%= t('.analysis') %></span>
    <div class="sub-menu show">
      <ul>
        <li class="<%= @menu == 'infant_health' ? 'sub-menu-selected' : '' %>">
          <%= link_to infant_health_analysis_path do %>
            <%= fa_icon 'child' %> <%= t('.infant_health') %>
          <% end %>
        </li>
        <li class="<%= @menu == 'maternal_health' ? 'sub-menu-selected' : '' %>">
          <%= link_to maternal_health_analysis_path do %>
            <%= fa_icon 'female' %> <%= t('.maternal_health') %>
          <% end %>
        </li>
        <li class="<%= @menu == 'death' ? 'sub-menu-selected' : '' %>">
          <%= link_to death_analysis_path(set: "all") do %>
            &#9760; <%= t('.death') %>
          <% end %>
        </li>
        <li class="<%= @menu == 'appointments' ? 'sub-menu-selected' : '' %>">
          <%= link_to appointments_analysis_path do %>
            <%= fa_icon 'calendar' %> <%= t('.appointments') %>
          <% end %>
        </li>
        <li class="forecast <%= @menu == 'forecast' ? 'sub-menu-selected' : '' %>">
          <%= link_to forecast_path do %>
            <%= fa_icon 'line-chart' %> <%= t('.forecasts') %>
          <% end %>
        </li>
        <li class="<%= @menu == 'defects' ? 'sub-menu-selected' : '' %>">
          <%= link_to birth_defects_path do %>
            <%= fa_icon 'wheelchair' %> <%= t('.birth_defects') %>
          <% end %>
        </li>
        <li class="<%= @menu == 'causes-of-death' ? 'sub-menu-selected' : '' %>">
          <%= link_to causes_of_death_path do %>
            &#x271d; <%= t('.causes_of_deaths') %> 
          <% end %>
        </li>
      </ul>
    </div>
  </li>
  <li class="menu-item <%= @tab == 'profile' ? 'selected' : '' %>">
    <span class="item">
    <%= fa_icon 'user' %> <%= t('.your_profile') %>
    </span>
    <div class="sub-menu show">
      <ul>
        <li class="<%= @menu == 'view-profile' ? 'sub-menu-selected' : '' %>">
          <%= link_to hospital_path(current_hospital) do %>
            <%= fa_icon 'user-circle' %> <%= t('.view_profile') %>
          <% end %>
        </li>
        <li class="<%= @menu == 'edit-profile' ? 'sub-menu-selected' : '' %>">
          <%= link_to edit_hospital_path(current_hospital) do %>
            <%= fa_icon 'edit' %> <%= t('.edit_profile') %>
          <% end %>
        </li>
        <li class="<%= @menu == 'logout' ? 'sub-menu-selected' : '' %>">
          <%= link_to sign_out_path do %>
            <%= fa_icon 'sign-out' %> <%= t('.logout') %>
          <% end %>
        </li>
      </ul>
    </div>
  </li>
</ul>
