<div class="agent">
  <div class="private-details">
    <h3><%= t('.private_details') %></h3>
    <p><span class="prop"><%= t('.username') %>:</span> <span><%= agent.username %></span></p>
    <p><span class="prop"><%= t('.full_names') %>:</span> <span><%= agent.respond_to?(:full_names) ? agent.full_names : agent.name %></span></p>
    <p><span class="prop"><%= t('.phone_number') %>:</span> <span><%= agent.phone_number %></span></p>
    <p><span class="prop"><%= t('.email') %>:</span> <span><%= agent.email %></span></p>
  </div>

  <div class="desk-details">
    <h3><%= t('.council_details') %></h3>
    <p><%= t('.council') %>: <span><%= agent.council_name.capitalize %> Council</span></p>
    <p><%= t('.sub_division') %>: <span><%= agent.sub_division_name.capitalize %></span></p>
    <p><%= t('.division') %>: <span><%= agent.division_name %></span></p>
    <p><%= t('.region') %>: <span><%= agent.administrative_region_name %></span></p>
  </div>
</div>
