<li class="has-date">
  <%= link_to birth_path birth do %>
    <div class="item-container">
      <h3>
        <%= fa_icon 'child' %>
        <span><%= t('.childs_name') %>:</span>
        <span><%= birth.surname + ' ' +  birth.given_name %></span>
      </h3>
      <p>
        <%= fa_icon 'id-card' %>
        <span><%= t('.certificate_number') %>:</span>
        <span class="certificate_numbe"><%= birth.certificate_number %></span>
      </p>
      <p>
        <%= fa_icon 'square' %>
        <span><%= t('.place_of_birth') %>:</span>
        <span><%= birth.place_born %></span>
      </p>
      <p>
        <%= fa_icon 'male' %>
        <%= fa_icon 'female' %>
        <span><%= t('.sex') %>:</span>
        <span><%= t ('.' + birth.sex) %></span>
      </p>
      <p>
        <%= fa_icon 'male' %>
        <span><%= t('.father') %>:</span>
        <span><%= birth.father %></span>
      </p>
      <p>
        <%= fa_icon 'female' %>
        <span><%= t('.mother') %>:</span>
        <span><%= birth.mother %></span>
      </p>
      <p>
        <%= fa_icon 'home' %>
        <span><%= t('.father_and_mothers_res') %>:</span>
        <span><%= birth.father_res +  t('.and') + birth.mother_res + t('.respectively') %></span>
      </p>

      <time class="item-date-ribbon good-news"><span><%= t('.born') %> <%= formated_date birth.date_born %></time>
    </div>
  <% end %>
  <p class="approval-link">
    <a href="#">
      <span><%= t('.inform_guardians') %> 
      <%= fa_icon 'user' %>
      <%= fa_icon 'minus' %>
    </a>  
  </p>
</li>
