<% choice_factor = '88888888' %>
<h1><%= t('.title') %></h1>
<div class="main register-citizen">
  <%= my_form_for @birth, url: births_path(@birth), html: { id: "new-citizen", class: 'form'} do |f| %>
    <h2><%= t('.bc_form') %></h2>
    <%= f.label :administrative_region_id, t('.region') %>
    <input type="text" value="<%= current_agent.administrative_region_name %>" name="administrative_region" disabled/>
    <label><%= t('.division') %></label>
    <input type="text" value="<%= current_agent.division_name %>" name="division" disabled/>
    <label><%= t('.sub_division') %></label>
    <input type="text" value="<%= current_agent.sub_division_name.capitalize %>" name="administrative_region" disabled/>
    <label><%= t('.council') %></label>
    <input type="text" value="<%= current_agent.council_name.capitalize + ' Council' %>" name="administrative_region" disabled/>
    <%= f.hidden_field :council_id, value: current_agent.council.id, hidden: true %>
    <%= f.label :certificate_number, t('.secondary_center') %>
    <%= f.text_field :sub_center %>
    <%= f.label :certificate_number, t('.certificate_number') %>
    <%= f.text_field :certificate_number %>

    <h3><%= t('.owners_details') %></h3>

    <%= f.label :surname , t('.surname') %>
    <%= f.text_field :surname %>
    <%= f.label :given_name , t('.given_names') %>
    <%= f.text_field :given_name %>
     <%= f.label :date_born, t('.date_of_birth') %>
    <%= f.text_field :date_born, class: "datepicker" %>
    <%= f.label :place_born, t('.place_of_birth') %>
    <%= f.text_field :place_born %>
    <%= f.label :sex, t('.sex') %>
    <%= f.select :sex, options_for_select([[t('.choose_sex'), choice_factor], [t('.male'), 'male'], [t('.female'), 'female']], @birth.sex), {}, { class: 'sex chosen-select' } %>

    <h3><%= t('.fathers_details') %></h3>

    <%= f.label :father, t('.father') %>
    <%= f.text_field :father %>
    <%= f.label :father_pb, t('.fathers_place_of_birth') %>
    <%= f.text_field :father_pb %>
    <%= f.label :father_db, t('.fathers_date_of_birth') %>
    <%= f.text_field :father_db, class: 'datepicker' %>
    <%= f.label :father_res, t('.fathers_residence') %>
    <%= f.text_field :father_res %>
    <%= f.label :father_job, t('.fathers_occupation') %>
    <%= f.text_field :father_job %>
    <%= f.label :father_n, t('.nationality') %>
    <%= f.text_field :father_n %>
    <%= f.label :father_rf, t('.reference_documents') %>
    <%= f.select :father_rf, options_for_select([[t('.choose_reference'), choice_factor], [t('.id_number'), 'id'], [t('.bc_reference'), 'bc'], [t('.nat_reference'), 'dan']], @birth.father_rf), {}, { class: 'sex chosen-select' } %>

    <h3><%= t('.mothers_details') %></h3>

    <%= f.label :mother, t('.mother') %>
    <%= f.text_field :mother %>
    <%= f.label :mother_pb, t('.mothers_place_of_birth') %>
    <%= f.text_field :mother_pb %>
    <%= f.label :mother_db, t('.mothers_date_of_birth') %>
    <%= f.text_field :mother_db, class: 'datepicker' %>
    <%= f.label :mother_res, t('.mothers_residence') %>
    <%= f.text_field :mother_res %>
    <%= f.label :mother_job, t('.mothers_occupation') %>
    <%= f.text_field :mother_job %>
    <%= f.label :mother_n, t('.nationality') %>
    <%= f.text_field :mother_n %>
    <%= f.label :mother_rf, t('.reference_documents') %>
    <%= f.select :mother_rf, options_for_select([[t('.choose_reference'), choice_factor], [t('.id_number'), 'id'], [t('.bc_reference'), 'bc'], [t('.nat_reference'), 'dan']], @birth.mother_rf), {}, { class: 'sex chosen-select' } %>

    <h3><%= t('.specific_details') %></h3>

    <%= f.label :date_drawn, t('.drawn_up_on') %>
    <%= f.text_field :date_drawn, class: 'datepicker' %>
    <%= f.label :declaration, t('.accord') %>
    <%= f.text_field :declaration %>
    <%= f.label :registrar, t('.registrar') %>
    <%= f.text_field :registrar %>
    <%= f.label :secretary, t('.secretary') %>
    <%= f.text_field :secretary %>
    <%= f.label :date_done, t('.done_on_the') %>
    <%= f.text_field :date_done, class: "datepicker" %>

    <div class="submit">
      <button type="submit"><%= t('.register') %></button>
    </div>
  <% end %>
  <% if I18n.locale == :en %>
  <script>
    $(function() {
      $('.datepicker').pickadate({
        selectYears: 120,
        max: new Date(),
        selectMonths: 12,
        format: 'dd/mm/yyyy'
      });
    });
  </script>
  <% else %>
    <script>
      $(function() {
        $('.datepicker').pickadate({
          monthsFull: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
           weekdaysShort: ['Dim', 'Lun', 'Mar', 'Mer', 'Jeu', 'Ven', 'Sam'],
           today: 'aujourd\'hui',
           clear: 'effacer',
           close: 'fermer',
           format: 'dd/mm/yyyy',
          selectYears: 120,
          max: new Date(),
          selectMonths: 12
        });
      });
    </script>
  <% end %>
  <script>
    $(".chosen-select").chosen()
  </script>
</div>

