<h1><%= @birth.surname + ' ' + @birth.given_name %></h1>
<div class="main register-citizen">
  <div id="new-citizen">
    <h2><%= t('.title') %></h2>
    <label>Region</label>
    <input type="text" value="<%= current_agent.administrative_region_name %>" name="administrative_region" disabled/>
    <label><%= t('.division') %></label>
    <input type="text" value="<%= current_agent.division_name %>" name="division" disabled/>
    <label><%= t('.sub_division') %></label>
    <input type="text" value="<%= current_agent.sub_division_name.capitalize %>" name="administrative_region" disabled/>
    <label><%= t('.council') %></label>
    <input type="text" value="<%= current_agent.council_name.capitalize + ' Council' %>" name="administrative_region" disabled/>
    <label><%= t('.secondary_center') %></label>
    <input type="text" value="<%= @birth.sub_center %>" disabled>
    <label><%= t('.certificate_number') %></label>
    <input type="text" value="<%= @birth.certificate_number %>" disabled>

    <p><%= t('.owners_details') %></p>

    <label><%= t('.surname') %></label>
    <input type="text" value="<%= @birth.surname %>" disabled>
    <label><%= t('.given_names') %></label>
    <input type="text" value="<%= @birth.given_name %>" disabled>
    <label><%= t('.date_of_birth') %></label>
    <input type="text" value="<%= formated_date @birth.date_born %>" disabled>
    <label><%= t('.at') %></label>
    <input type="text" value="<%= @birth.place_born %>" disabled>
    <label><%= t('.sex') %></label>
    <input type="text" value="<%= t('.' + @birth.sex) %>" disabled>

    <p><%= t('.fathers_details') %></p>

    <label><%= t('.father') %></label>
    <input type="text" value="<%= @birth.father %>" disabled>
    <label><%= t('.fathers_place_of_birth') %></label>
    <input type="text" value="<%= @birth.father_pb %>" disabled>
    <label><%= t('.fathers_date_of_birth') %></label>
    <input type="text" value="<%= formated_date @birth.father_db %>" disabled>
    <label><%= t('.fathers_residence') %></label>
    <input type="text" value="<%= @birth.father_res %>" disabled>
    <label><%= t('.fathers_occupation') %></label>
    <input type="text" value="<%= @birth.father_job %>" disabled>
    <label><%= t('.nationality') %></label>
    <input type="text" value="<%= @birth.father_n %>" disabled>
    <label><%= t('.reference_documents') %></label>
    <input type="text" value="<%= formated_rf_doc @birth.father_rf %>" disabled>

    <p><%= t('.mothers_details') %></p>

    <label><%= t('.mother') %></label>
    <input type="text" value="<%= @birth.mother %>" disabled>
    <label><%= t('.mothers_place_of_birth') %></label>
    <input type="text" value="<%= @birth.mother_pb %>" disabled>
    <label><%= t('.mothers_date_of_birth') %></label>
    <input type="text" value="<%= formated_date @birth.mother_db %>" disabled>
    <label><%= t('.mothers_residence') %></label>
    <input type="text" value="<%= @birth.mother_res %>" disabled>
    <label><%= t('.mothers_occupation') %></label>
    <input type="text" value="<%= @birth.mother_job %>" disabled>
    <label><%= t('.nationality') %></label>
    <input type="text" value="<%= @birth.mother_n %>" disabled>
    <label><%= t('.reference_documents') %></label>
    <input type="text" value="<%= t('.' + @birth.mother_rf) %>" disabled>

    <label><%= t('.drawn_up_on') %></label>
    <input type="text" value="<%= formated_date @birth.date_drawn %>" disabled>
    <label><%= t('.accord') %></label>
    <input type="text" value="<%= @birth.declaration %>" disabled>

    <p><%= t('.attestator') %></p>

    <label><%= t('.by_us') %></label>
    <input type="text" value="<%= @birth.registrar %>" disabled>
    <p><%= t('.registrar') %></p>

    <label><%= t('.presence_of') %></label>
    <input type="text" value="<%= @birth.secretary %>" disabled>
    <p><%= t('.secretary') %></p>

    <label><%= t('.done_on_the') %></label>
    <input type="text" value="<%= formated_date @birth.date_done %>" disabled>
  </div>
</div>

