<h1><%= t('.edit_profile') %></h1>
<div class="agent register">
  <div class="page-form" autocomplete="off">
    <%= my_form_for @agent, url: agent_path(@agent), html: { class: "form new-account", autocomplete: 'false' } do |f| %>
      <h3><%= fa_icon 'exclamation' %> <%= t('.no_change') %></h3>
      <%= f.label :council_id, t('.council') %>
      <%= f.text_field :council_id, value: @agent.council_name, disabled: true %>
      <%= f.label :full_names, t('.full_names') %>
      <%= f.text_field :full_names %>
      <%= f.label :phone_number, t('.phone_number') %>
      <%= f.text_field :phone_number %>
      <%= f.label :email, t('.email') %>
      <%= f.email_field :email %>
      <%= f.label :username, t('.username') %>
      <%= f.text_field :username %>
      <%= f.label :password, t('.password') %>
      <%= f.password_field :password %>
      <%= f.label :password_confirmation, t('.confirmation_password') %>
      <%= f.password_field :password_confirmation %>
      <%= f.label :code, t('.council_code') %>
      <%= f.text_field :code, disabled: true %>
      <div class="submitter">
        <button type="submit"><%= t('.update_account') %></button>
      </div>
    <% end %>
  </div>
  <script>
    $(".chosen-select").chosen()
  </script>
</div>
