 <%= image_tag  "council3.jpg" %>
 <h2><%= t('.offer') %></h2>
<ul>
  <li class="pages-li">
    <a href="#">
      <figure>
        <%= image_tag "child.jpg" %>
        <h3><%= t('.new_bc') %></h3>
        <figcaption><%= t('.birth') %></figcaption>
      </figure>
    </a>
  </li>
  <li class="pages-li">
    <a href="#">
      <figure>
        <%= image_tag "wedding.jpg" %>
        <h3><%= t('.new_mc') %></h3>
        <figcaption><%= t('.marriage') %></figcaption>
      </figure>
    </a>
  </li>
  <li class="pages-li">
    <a href="#">
      <figure>
        <%= image_tag "dead.jpg" %>
        <h3><%= t('.new_dc') %></h3>
        <figcaption><%= t('.death') %></figcaption>
      </figure>
    </a>
  </li>
  <li class="pages-li">
    <a href="#">
      <figure>
        <%= image_tag "data.jpg" %>
        <h3><%= t('.new_stats') %></h3>
        <figcaption><%= t('.stats') %></figcaption>
      </figure>
    </a>
  </li>
</ul>



