<h1><%= t('agents.edit.edit_profile') %></h1>
<div class="agent register">
  <div class="page-form" autocomplete="off">
    <%= my_form_for @hospital, url: hospital_path(@hospital), method: "patch", html: { class: "form new-account", autocomplete: 'false' } do |f| %>
      <h3><%= fa_icon 'exclamation' %> 
      <%= t('agents.edit.no_change') %></h3></h3>
      <%= f.label :council_id, t('hospitals.new.council') %>
      <%= f.text_field :council_id, value: @hospital.council_name, disabled: true %>
      <%= f.label :name, t('hospitals.new.institution_name') %>
      <%= f.text_field :name %>
      <%= f.label :phone_number, t('hospitals.new.phone_number') %>
      <%= f.text_field :phone_number %>
      <%= f.label :email, t('hospitals.new.email') %>
      <%= f.email_field :email %>
      <%= f.label :username, t('hospitals.new.username') %>
      <%= f.text_field :username %>
      <%= f.label :password, t('hospitals.new.password') %>
      <%= f.password_field :password %>
      <%= f.label :password_confirmation, t('hospitals.new.confirmation_password') %>
      <%= f.password_field :password_confirmation %>
      <div class="submitter">
        <button type="submit"><%= t('agents.edit.update_account') %></button>
      </div>
    <% end %>
  </div>
  <script>
    $(".chosen-select").chosen()
  </script>
</div>
