<div class="login-and-creator register">
  <h4><%= t('.new_account') %></h4>
  <div class="aside-container">
    <%= image_tag  "councils.jpg" %>
  </div>
  <div class="page-form" autocomplete="off">
    <%= my_form_for @hospital, url: hospitals_path(@hospital), html: { class: "form new-account", autocomplete: 'false' } do |f| %>
      <h5><%= t('.new_account_form') %></h5>
      
      <%= f.label :council_id, t('.council') %>
      <%= f.select :council_id, options_for_select(Council.all.map { |r| [r.name, r.id] }.unshift([t('.choose_council'), 88888888]), @hospital.council_id), {}, { class: 'sex chosen-select' } %>
      <%= f.label :name, t('.institution_name') %>
      <%= f.text_field :name %>
      <%= f.label :phone_number, t('.phone_number') %>
      <%= f.text_field :phone_number %>
      <%= f.label :email, t('.email') %>
      <%= f.email_field :email %>
      <%= f.label :username, t('.username') %>
      <%= f.text_field :username %>
      <%= f.label :password, t('.password') %>
      <%= f.password_field :password %>
      <%= f.label :password_confirmation, t('.confirmation_password') %>
      <%= f.password_field :password_confirmation %>
      <%= f.label :base, t("flash.captcha") %>
      <div class="captcha-container">
        <%= recaptcha_tags %>
      </div>
      <div class="submitter">
        <button type="submit"><%= t('.create_account') %></button>
      </div>
    <% end %>
  </div>
  <script>
    $(".chosen-select").chosen()
  </script>
</div>



