<div class="login-and-creator register">
  <h4>Create a New Health Unit Account</h4>
  <div class="aside-container">
    <%= image_tag  "councils.jpg" %>
  </div>
  <div class="page-form" autocomplete="off">
    <%= my_form_for @hospital, url: hospitals_path(@hospital), html: { class: "form new-account", autocomplete: 'false' } do |f| %>
      <h5>New Account Form</h5>
      
      <%= f.label :council_id, 'Council' %>
      <%= f.select :council_id, options_for_select(Council.all.map { |r| [r.name, r.id] }.unshift(['Choose Council', 88888888]), @hospital.council_id), {}, { class: 'sex chosen-select' } %>
      <%= f.label :name, 'Name of Health insitution' %>
      <%= f.text_field :name %>
      <%= f.label :phone_number, 'Phone number' %>
      <%= f.text_field :phone_number %>
      <%= f.label :email, 'Email' %>
      <%= f.email_field :email %>
      <%= f.label :username, 'Username' %>
      <%= f.text_field :username %>
      <%= f.label :password, 'Password' %>
      <%= f.password_field :password %>
      <%= f.label :password_confirmation, 'Confirmation password' %>
      <%= f.password_field :password_confirmation %>
      <div class="submitter">
        <button type="submit">Create Account</button>
      </div>
    <% end %>
  </div>
  <script>
    $(".chosen-select").chosen()
  </script>
</div>



