<li class="has-date">
  <%= link_to new_born_path new_born do %>
    <div class="item-container">
      <h3>
        <%= fa_icon 'child' %>
        <span><%= t('.childs_name') %>:</span>
        <span><%= new_born.c_name %></span>
      </h3>
      <p>
        <%= fa_icon 'id-card' %>
        <span><%= t(".childs_code") %>:</span>
        <span class="certificate_numbe"><%= new_born.child_code.upcase %></span>
      </p>
      <p>
        <%= fa_icon 'square' %>
        <span><%= t('.place_of_birth') %>:</span>
        <span><%= new_born.c_pb %></span>
      </p>
      <p>
        <%= fa_icon 'male' %>
        <%= fa_icon 'female' %>
        <span><%= t('.sex') %>:</span>
        <span><%= t ('.' + new_born.sex) %></span>
      </p>
      <p>
        <%= fa_icon 'male' %>
        <span><%= t('.fathers_name') %>:</span>
        <span><%= new_born.f_name %></span>
      </p>
      <p>
        <%= fa_icon 'female' %>
        <span><%= t('.mothers_name') %>:</span>
        <span><%= new_born.m_name %></span>
      </p>
      <p>
        <%= fa_icon 'home' %>
        <span><%= t(".father_and_mothers_res") %>:</span>
        <span><%= new_born.f_res + t('.and') + new_born.m_res + t('.respectively') %></span>
      </p>
      <p>
        <%= fa_icon 'phone' %>
        <span><%= t(".father_and_mothers_tel") %>:</span>
        <span><%= new_born.f_tel + t('.and') + new_born.m_tel + t('.respectively') %></span>
      </p>

      <time class="item-date-ribbon good-news"><%= t(".born") %>: <%= formated_date new_born.c_db %></time>
    </div>
  <% end %>
</li>
