<div class="child-details">
  <h2><%= fa_icon 'street-view' %> Vaccination Calendar</h2>
  <div class="calendar-activities">
    <div class="v-linker">
      <div class="sv4-linker"></div>
      <div></div>
      <div class="sv3-linker"></div>
      <div></div>
      <div class="sv2-linker"></div>
      <div></div>
      <div class="sv1-linker"></div>
      <div></div>
    </div>
    <div class="data-container">
      <div class="vaccines">
        <ul>
          <li>BCG</li>
          <li>POLIO</li>
        </ul>
      </div><!--
      --><div class="h-linker">
        <div class="sh4-linker"></div><!--
        --><div class="sh3-linker"></div><!--
        --><div class="sh2-linker"></div><!--
        --><div class="sh1-linker"></div>
      </div><!--
      --><div class="stage-indicator">
          <p class="vaccine-time">At birth</p>
          <p>12th Sept 2018</p>
      </div><!--
      --><div class="h-linker h-left"> 
        <div class="sh1-linker"></div><!--
        --><div class="sh2-linker"></div><!--
        --><div class="sh3-linker"></div><!--
        --><div class="sh4-linker"></div>  
      </div><!--
      --><div class="administration-status">
        <ul>
          <li class="status-edit"><a href="#">Done Deal <%= fa_icon 'check' %></a></li>
          <li>Administered <%= fa_icon 'heart' %></li>
        </ul>
      </div>
    </div>
    <div class="v-linker s-o">
      <div class="sv4-linker"></div>
      <div></div>
      <div class="sv3-linker"></div>
      <div></div>
      <div class="sv2-linker"></div>
      <div></div>
      <div class="sv1-linker"></div>
      <div></div>
    </div>
    <div class="data-container">
      <div class="vaccines">
        <ul>
          <li>DPT 1</li>
          <li>PNEUMO 1</li>
          <li>ROTO 1</li>
          <li>POLIO 1</li>
        </ul>
      </div><!--
      --><div class="h-linker">
        <div class="sh4-linker"></div><!--
        --><div class="sh3-linker"></div><!--
        --><div class="sh2-linker"></div><!--
        --><div class="sh1-linker"></div>
      </div><!--
      --><div class="stage-indicator">
          <p class="vaccine-time">6 weeks</p>
          <p>12th Sept 2018</p>
      </div><!--
      --><div class="h-linker h-left"> 
        <div class="sh1-linker"></div><!--
        --><div class="sh2-linker"></div><!--
        --><div class="sh3-linker"></div><!--
        --><div class="sh4-linker"></div>  
      </div><!--
      --><div class="administration-status">
        <ul>
          <li class="status-edit"><a href="#">Mark as DONE <%= fa_icon 'star' %></a></li>
          <li>Missed <%= fa_icon 'times' %></li>
        </ul>
      </div>
    </div>
    <div class="v-linker">
      <div class="sv4-linker"></div>
      <div></div>
      <div class="sv3-linker"></div>
      <div></div>
      <div class="sv2-linker"></div>
      <div></div>
      <div class="sv1-linker"></div>
      <div></div>
    </div>
    <div class="data-container">
      <div class="vaccines">
        <ul>
          <li>DPT 2</li>
          <li>PNEUMO 2</li>
          <li>ROTO 2</li>
          <li>POLIO 2</li>
        </ul>
      </div><!--
      --><div class="h-linker">
        <div class="sh4-linker"></div><!--
        --><div class="sh3-linker"></div><!--
        --><div class="sh2-linker"></div><!--
        --><div class="sh1-linker"></div>
      </div><!--
      --><div class="stage-indicator">
          <p class="vaccine-time">10 weeks</p>
          <p>12th Sept 2018</p>
      </div><!--
      --><div class="h-linker h-left"> 
        <div class="sh1-linker"></div><!--
        --><div class="sh2-linker"></div><!--
        --><div class="sh3-linker"></div><!--
        --><div class="sh4-linker"></div>  
      </div><!--
      --><div class="administration-status">
        <ul>
          <li class="status-edit"><a href="#">Mark as DONE <%= fa_icon 'star' %></a></li>
          <li>Upcoming <%= fa_icon 'calendar' %></li>
        </ul>
      </div>
    </div>
    <div class="v-linker s-o">
      <div class="sv4-linker"></div>
      <div></div>
      <div class="sv3-linker"></div>
      <div></div>
      <div class="sv2-linker"></div>
      <div></div>
      <div class="sv1-linker"></div>
      <div></div>
    </div>
    <div class="data-container">
      <div class="vaccines">
        <ul>
          <li>DPT 3</li>
          <li>PNEUMO 3</li>
          <li>POLIO 3</li>
          <li>IPV 3</li>
        </ul>
      </div><!--
      --><div class="h-linker">
        <div class="sh4-linker"></div><!--
        --><div class="sh3-linker"></div><!--
        --><div class="sh2-linker"></div><!--
        --><div class="sh1-linker"></div>
      </div><!--
      --><div class="stage-indicator">
          <p class="vaccine-time">14 weeks</p>
          <p>12th Sept 2018</p>
      </div><!--
      --><div class="h-linker h-left"> 
        <div class="sh1-linker"></div><!--
        --><div class="sh2-linker"></div><!--
        --><div class="sh3-linker"></div><!--
        --><div class="sh4-linker"></div>  
      </div><!--
      --><div class="administration-status">
        <ul>
          <li class="status-edit"><a href="#">Mark as DONE <%= fa_icon 'star' %></a></li>
          <li>Upcoming <%= fa_icon 'calendar' %></li>
        </ul>
      </div>
    </div>
    <div class="v-linker">
      <div class="sv4-linker"></div>
      <div></div>
      <div class="sv3-linker"></div>
      <div></div>
      <div class="sv2-linker"></div>
      <div></div>
      <div class="sv1-linker"></div>
      <div></div>
    </div>
    <div class="data-container">
      <div class="vaccines">
        <ul>
          <li>VIT A</li>
        </ul>
      </div><!--
      --><div class="h-linker">
        <div class="sh4-linker"></div><!--
        --><div class="sh3-linker"></div><!--
        --><div class="sh2-linker"></div><!--
        --><div class="sh1-linker"></div>
      </div><!--
      --><div class="stage-indicator">
          <p class="vaccine-time">6 months</p>
          <p>12th Sept 2018</p>
      </div><!--
      --><div class="h-linker h-left"> 
        <div class="sh1-linker"></div><!--
        --><div class="sh2-linker"></div><!--
        --><div class="sh3-linker"></div><!--
        --><div class="sh4-linker"></div>  
      </div><!--
      --><div class="administration-status">
        <ul>
          <li class="status-edit"><a href="#">Mark as DONE <%= fa_icon 'star' %></a></li>
          <li>Upcoming <%= fa_icon 'calendar' %></li>
        </ul>
      </div>
    </div>
    <div class="v-linker s-o">
      <div class="sv4-linker"></div>
      <div></div>
      <div class="sv3-linker"></div>
      <div></div>
      <div class="sv2-linker"></div>
      <div></div>
      <div class="sv1-linker"></div>
      <div></div>
    </div>
    <div class="data-container">
      <div class="vaccines">
        <ul>
          <li>MEASLES</li>
          <li>YELLOW FEVER</li>
        </ul>
      </div><!--
      --><div class="h-linker">
        <div class="sh4-linker"></div><!--
        --><div class="sh3-linker"></div><!--
        --><div class="sh2-linker"></div><!--
        --><div class="sh1-linker"></div>
      </div><!--
      --><div class="stage-indicator">
          <p class="vaccine-time">9 months</p>
          <p>12th Sept 2018</p>
      </div><!--
      --><div class="h-linker h-left"> 
        <div class="sh1-linker"></div><!--
        --><div class="sh2-linker"></div><!--
        --><div class="sh3-linker"></div><!--
        --><div class="sh4-linker"></div>  
      </div><!--
      --><div class="administration-status">
        <ul>
          <li class="status-edit"><a href="#">Mark as DONE <%= fa_icon 'star' %></a></li>
          <li>Ucoming <%= fa_icon 'calendar' %></li>
        </ul>
      </div>
    </div>
    <div class="v-linker">
      <div class="sv4-linker"></div>
      <div></div>
      <div class="sv3-linker"></div>
      <div></div>
      <div class="sv2-linker"></div>
      <div></div>
      <div class="sv1-linker"></div>
      <div></div>
    </div>
    <div class="data-container">
      <div class="vaccines">
        <ul>
          <li>VIT A</li>
        </ul>
      </div><!--
      --><div class="h-linker">
        <div class="sh4-linker"></div><!--
        --><div class="sh3-linker"></div><!--
        --><div class="sh2-linker"></div><!--
        --><div class="sh1-linker"></div>
      </div><!--
      --><div class="stage-indicator">
          <p class="vaccine-time">1 year</p>
          <p>12th Sept 2018</p>
      </div><!--
      --><div class="h-linker h-left"> 
        <div class="sh1-linker"></div><!--
        --><div class="sh2-linker"></div><!--
        --><div class="sh3-linker"></div><!--
        --><div class="sh4-linker"></div>  
      </div><!--
      --><div class="administration-status">
        <ul>
          <li class="status-edit"><a href="#">Mark as DONE <%= fa_icon 'star' %></a></li>
          <li>Upcoming <%= fa_icon 'calendar' %></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="n4y-calendar calendar-activities">
    <h2 class="show-n4y">Show calendar for the next 4 years</h2>
    <div class="v-linker s-o">
      <div class="sv4-linker"></div>
      <div></div>
      <div class="sv3-linker"></div>
      <div></div>
      <div class="sv2-linker"></div>
      <div></div>
      <div class="sv1-linker"></div>
      <div></div>
    </div>
    <div class="data-container">
      <div class="vaccines">
        <ul>
          <li>VIT A</li>
        </ul>
      </div><!--
      --><div class="h-linker">
        <div class="sh4-linker"></div><!--
        --><div class="sh3-linker"></div><!--
        --><div class="sh2-linker"></div><!--
        --><div class="sh1-linker"></div>
      </div><!--
      --><div class="stage-indicator">
          <p class="vaccine-time">1 year 6 months</p>
          <p>12th Sept 2018</p>
      </div><!--
      --><div class="h-linker h-left"> 
        <div class="sh1-linker"></div><!--
        --><div class="sh2-linker"></div><!--
        --><div class="sh3-linker"></div><!--
        --><div class="sh4-linker"></div>  
      </div><!--
      --><div class="administration-status">
        <ul>
          <li class="status-edit"><a href="#">Mark as DONE <%= fa_icon 'star' %></a></li>
          <li>Upcoming <%= fa_icon 'calendar' %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
