<h1>237councils Blog</h1>

<div class='blog-w'>
  <h3> Objet du blog </h3>

  <p> La naissance, la santé, le mariage et la mort sont probablement certains des aspects les plus importants à prendre en compte lors de l’élaboration de la politique gouvernementale. L'état de santé des personnes est généralement un excellent indicateur de tous les autres aspects de l'état d'un pays. Le mariage est la pierre angulaire de la société. Plus les gens se marient, meilleure est l'économie, et plus la société devient stable. <a href='https://www.roger-pearse.com/weblog/2014/01/17/did-moral-decay-destroy-the-ancient-world/' target='blank'> Le divorce était-il l'un des les facteurs qui ont contribué à la chute de l’empire romain? </a>, cela reste à débattre, mais une chose est sûre, c’est la raison pour laquelle la plupart des familles sont détruites. L'espérance de vie est un véritable indicateur du succès de la politique gouvernementale. La naissance, en revanche, garantit la continuité d'une nation. Ces quatre aspects donnent un aperçu de l’état d’une nation. Le but des 237 conseils est de mettre ces trois aspects à la disposition de chaque camerounais, avec des statistiques développées au niveau du conseil local, afin de promouvoir la décentralisation. Nous espérons inspirer un débat basé sur des faits autour de ces questions. </p>

  
  <h3> Statistiques de décès </h3>
  <p> Nous avons donc recours à plusieurs méthodes pour collecter des statistiques sur les décès, mais nos principales sources d’information sont les hôpitaux, les conseillers locaux et les institutions religieuses chargées des rites funéraires. Le conseil local enregistré demande à toutes ces institutions d'informer leur conseiller si le défunt ne s'est pas rendu dans un établissement de santé. Nous demandons également aux autorités religieuses responsables de la tenue des rites d'inhumation de s'assurer que le défunt est enregistré pour être certifié mort avant de procéder à l'inhumation. Dans les cas où la cause de la mort est un tabou culturel, nous comptons entièrement sur le responsable de la famille pour nous faire connaître cette information dans le respect de ses valeurs culturelles respectives et nous promettons de ne pas la rendre publique. Nous ne souhaitons vraiment pas associer des informations spécifiques à des personnes, car nous préférons conserver les informations génériques et rester dans les limites de la législation nationale en la matière. </p>

  <h4 class = 'factors-of-interest'> Données qui nous intéressent </h4>
  <ul class = 'facteurs'>
    <li><%= fa_icon 'angle-droit' %> Cause du décès </li>
    <li><%= fa_icon 'angle-droit' %> Age du défunt </li>
    <li><%= fa_icon 'angle-droit' %> Sexe du défunt </li>
    <li><%= fa_icon 'angle-droit' %> Etat civil du défunt </li>
    <li><%= fa_icon 'angle-droit' %> Nombre d'enfants </li>
    <li><%= fa_icon 'angle-droit' %> Lieu du décès </li>
    <li><%= fa_icon 'angle-droit' %> Profession </li>
    <li><%= fa_icon 'angle-droit' %> Résidence du défunt </li>
    <li><%= fa_icon 'angle-droit' %> Croyances religieuses (facultatif) </li>
    <li><%= fa_icon 'angle-droit' %> Statut d'emploi </li>
    <li><%= fa_icon 'angle-droit' %> Désignation de travail par couleur de col </li>
    <li><%= fa_icon 'angle-droit' %> Sous division où le défunt est décédé </li>
  </ul>

  <h3> Statistiques de naissance </h3>

  <p> Nous recueillons nos statistiques sur les naissances auprès des unités de santé. Certains enfants sont nés hors des unités de santé désignées, mais nous vous recommandons de les emmener dans un centre de santé ou un hôpital local pour une visite médicale, puis de collecter des données sur les naissances. Cela nous permet de collecter des informations médicalement précises, que les sages-femmes locales ne sont pas en mesure de fournir, ainsi que de vérifier l'état de santé du nouveau-né, ce qui permet un suivi ultérieur par les agents de santé des conseils locaux.

  <h4 class = 'factors-of-interest'> Données qui nous intéressent </h4>
  <ul class = 'facteurs'>
    <li><%= fa_icon 'angle-droit' %> Lieu de naissance </li>
    <li><%= fa_icon 'angle-droit' %> Date de début (heure si disponible) </li>
    <li><%= fa_icon 'angle-droit' %> Sexe du nouveau-né </li>
    <li><%= fa_icon 'angle-droit' %> Age de la mère </li>
    <li><%= fa_icon 'angle-droit' %> Age du père (facultatif) </li>
    <li><%= fa_icon 'angle-droit' %> Données médicales </li>
    <li><%= fa_icon 'angle-droit' %> Profession de la mère </li>
    <li><%= fa_icon 'angle-droit' %> Profession du père (facultatif) </li>
    <li><%= fa_icon 'angle-droit' %> Soins cliniques avant la naissance? </li>
    <li><%= fa_icon 'angle-droit' %> Contact mère </li>
    <li><%= fa_icon 'angle-droit' %> Contact du père ou du tuteur </li>
    <li><%= fa_icon 'angle-droit' %> sous-division de la naissance </li>
  </ul>

  <h3> Statistiques sur le mariage </h3>

  <p>Beaucoup de gens se marient traditionnellement au Cameroun et ne parviennent jamais devant le tribunal. Cela signifie que beaucoup de mariages ne sont pas certifiés et n'ont pas de soutien légal. Cela pose de sérieux problèmes, car dans la probabilité d'un divorce, le règlement est souvent biaisé et l'épouse n'est pas traitée équitablement. Nous cherchons à faire en sorte que tous les mariages soient enregistrés dans le conseil local et que les contrats de mariage soient facilement accessibles au système de justice en cas de divorce. Il existe également des cas où les certificats de mariage sont portés disparus ou sont détruits car ils constituent le seul soutien légal de la femme. Avoir un enregistrement numérique signifie que cette information sera toujours disponible. Cependant, la légalité des enregistrements numériques au Cameroun reste à établir, mais c’est un bon point de départ. </p>

  <h4 class = 'factors-of-interest'> Données qui nous intéressent </h4>
  <ul class = 'facteurs'>
    <li><%= fa_icon 'angle-droit' %> Age du mari et de la femme </li>
    <li><%= fa_icon 'angle-droit' %> Résidence du mari et de la femme </li>
    <li><%= fa_icon 'angle-droit' %> Profession du mari et de la femme </li>
    <li><%= fa_icon 'angle-droit' %> Nationalité du mari et de la femme </li>
    <li><%= fa_icon 'angle-droit' %> Type de propriété dans le mariage </li>
    <li><%= fa_icon 'angle-droit' %> Type de mariage </li>
    <li><%= fa_icon 'angle-droit' %> Des enfants hors mariage? </li>
    <li><%= fa_icon 'angle-droit' %> Années de cohabitation (facultatif) </li>
    <li><%= fa_icon 'angle-droit' %> Les mêmes croyances religieuses? </li>
    <li><%= fa_icon 'angle-droit' %> Les mêmes tribus? </li>
    <li><%= fa_icon 'angle-droit' %> Même première langue? </li>
    <li><%= fa_icon 'angle-droit' %> Sous division du mariage </li>
  </ul>

  <h5> Certaines de ces données ne sont pas encore collectées par le conseil local. Il faudra donc attendre un moment avant que notre analyse statistique ne commence à les refléter </h5>

  <h3> Intéressé par l’acquisition de données pour la recherche? </h3>

  <p> Nous sommes absolument ravis de vous fournir des données pour vos projets de recherche. L'un des objectifs de cette plate-forme est de fournir ces données, afin d'améliorer la qualité de la recherche effectuée par des recherches effectuées sur l'ensemble du territoire national. Nous proposons également des solutions d'analyse pour vous et espérons en rendre d'autres plus disponibles dans un proche avenir. Mais nous notons et espérons que, dans les conclusions de votre recherche, vous montrez clairement que vous êtes responsable de la manière dont vous interprétez les données que nous vous avons fournies. Si vous tirez des conclusions de nos interprétations, citez-les et donnez des références aux interprétations. </p>

  <div class = 'warning'>
    <% = fa_icon 'avertissement' %>
    <p> Vous êtes responsable de vos interprétations des données que nous vous fournissons. Citez-nous si vous utilisez l'une de nos interprétations et donnez des références à ces interprétations </p>
  </div>

  <h4 class = 'factors-of-interest'> Procédure pour obtenir des données </h4>
  <ul class = 'facteurs'>
    <li class = 'long-factor'> <% = fa_icon 'angle-droit' %> Envoyez-nous un DM sur Twitter @ 237councils </li>
    <li class = 'long-factor'> <% = fa_icon 'angle-droit' %> Vous obtiendrez une réponse en moins d'une heure </li>
    <li class = 'short-factor'> <% = fa_icon 'angle-droit' %> C'est tout .... </li>
  </ul>
  

  <h3> Comment pouvez-vous être utile? </h3>

  <p> Nous commençons encore, nous avons donc besoin de beaucoup de données de la part des conseils locaux dont nous ne sommes pas encore au courant. Cela signifie que si nous voulons progresser, nous comptons sur tout le monde pour apporter sa contribution. Toutes les idées sont les bienvenues. Ne pensez pas qu'une idée, vous avez est impossible, rien n'est. Dites-nous comment nous pouvons vous aider et nous allons sauter dessus et peu importe le temps que cela prend, fournissez une solution qui profitera à tous en fonction de vos suggestions. Ne cherchez pas seulement quelque chose que nous n’avons pas fait, mais suggérez également des choses que nous pouvons faire pour améliorer les solutions que nous proposons déjà. Nous espérons également publier des articles de recherche à l'avenir. Si vous êtes un chercheur et aimerez faire publier votre article ici, vous devriez également nous contacter. </p>

  <h4 class = 'factor-of-interest'> Procédure à suivre pour faire une suggestion </h4>
  <ul class = 'facteurs'>
    <li class = 'long-factor'> <% = fa_icon 'angle-droit' %> Envoyez-nous un DM sur Twitter @ 237councils </li>
    <li class = 'long-factor'> <% = fa_icon 'angle-droit' %> Vous obtiendrez une réponse en moins d'une heure </li>
    <li class = 'short-factor'> <% = fa_icon 'angle-droit' %> Ça y est .... </li>
  </ul>

  <h5> Merci d'avoir vérifié et pour vos futures suggestions. <span class = 'highlight-green'> Équipe Agape <% = fa_icon 'heart' %> </span> </h5>
</div>


  




