<h1>Recently Issued Certificates</h1>
<ul class="children">
  <% 10.times do|t|%>
  <li>
    <h3>
      <%= fa_icon 'user-secret' %> 
      <%= t('ui.shared.deceaseds_name') %>: <span>John Doe John</span>
    </h3>
    <p>
      <%= fa_icon 'id-card' %> 
      <%= t('ui.shared.bc_number') %>: 
      <span class="certificate_number">4684/kc/2011</span>
    </p>
    <p>
      <%= fa_icon 'calendar' %> 
      <%= t('ui.shared.date_of_birth') %>: <span>2000-31-08</span>
    </p>
    <p>
      <%= fa_icon 'calendar' %> 
      <%= t('ui.shared.date_of_death') %>: <span>2020-31-08</span>
    </p>
    <p>
      <%= fa_icon 'square' %> 
      <%= t('ui.shared.place_of_death') %>: <span>California Christian Hospital</span>
    </p>
    <p>
      <%= fa_icon 'male' %>
      <%= fa_icon 'female' %> 
      <%= t('ui.shared.sex') %>: 
      <span>Male</span>
    </p>
    <p>
      <%= fa_icon 'male' %> 
      <%= t('ui.shared.fathers_name') %>: <span>Lukong Isaac Nsoseka</span>
    </p>
    <p>
      <%= fa_icon 'female' %> 
      <%= t('ui.shared.mothers_name') %>: <span>Nsoseka Lamaka Kinyuy</span>
    </p>
    <% if t % 2 == 0  %>
      <p class="request-date">
        <%= fa_icon 'calendar' %>
        <%= t('ui.shared.date_requested') %>: <span>2020-04-09</span>
      </p>
      <p class="approval-link">
        <a href="#">
          <%= t('ui.shared.Inform Parents') %> 
          <%= fa_icon 'user' %>
          <%= fa_icon 'minus' %>
        </a>
      </p>
    <% else %>
      <p class="approval-date">
        <%= t('ui.shared.date_approved') %>: <span>2020-04-09</span>
      </p>
      <p class="approval-status">
        <button>
          <%= t('ui.shared.Informed') %> 
          <%= fa_icon 'user' %>
          <%= fa_icon 'check' %>
        </button>
      </p>
    <% end %>
  </li>
  <% end %>
</ul>