<h1>New Born Registration</h1>
<div class="main register-citizen">
  <form id="new-citizen" runat="server">
    <h2>
      Registration Form
    </h2>
    <h3><%= t('.childs_details') %></h3>

    <label><%= t('.childs_name') %></label>
    <input type="text" name="childs_name">
    <label><%= t('.date_of_birth') %></label>
    <input type="text" name="date_of_birth" class="datepicker">
    <label><%= t('.place_of_birth') %></label>
    <input type="text" name="place_of_birth">
    <label><%= t('.childs_name_confirmation') %></label>
    <input type="text" name="childs_name_confirmation">
    <label><%= t('.sex') %></label>
    <select name="sex" class="sex">
      <option value="M">Male - l'homme</option>
      <option value="F">Female - Femme</option>
    </select>

    <h3><%= t('.fathers_details') %></h3>

    <label><%= t('.fathers_name') %></label>
    <input type="text" name="father">
    <label><%= t('.fathers_place_of_birth') %></label>
    <input type="text" name="fathers_place_of_birth">
    <label><%= t('.fathers_residence') %></label>
    <input type="text" name="fathers_residence">
    <label><%= t('.fathers_occupation') %></label>
    <input type="text" name="fathers_occupation">

    <h3><%= t('.mothers_details') %></h3>

    <label><%= t('.mothers_named') %></label>
    <input type="text" name="mother">
    <label><%= t('.mothers_place_of_birth') %></label>
    <input type="text" name="mothers_place_of_birth">
    <label><%= t('.mothers_year_of_birth') %></label>
    <input type="date" name="mothers_year_of_birth" class="datepicker">
    <label><%= t('.mothers_residence') %></label>
    <input type="text" name="mothers_residence">
    <label><%= t('.mothers_occupation') %></label>
    <input type="text" name="mothers_occupation">
    <label><%= t('.did_mother_have_access_to_prebirth_health_services?') %></label>
    <select name="clinic" class="sex">
      <option value="M">Yes</option>
      <option value="F">No</option>
    </select>

    <h3><%= t('.agnostic_medical_details') %></h3>
    

    <div class="submit">
      <button type="submit"><%= t('.register') %></button>
    </div>
  </form>
  <% if I18n.locale == :en %>
  <script>
    $(function() {
      $('.datepicker').pickadate({
        selectYears: 120,
        max: new Date(),
        selectMonths: 12
      });
    });
  </script>
  <% else %>
    <script>
      $(function() {
        $('.datepicker').pickadate({
          monthsFull: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
           weekdaysShort: ['Dim', 'Lun', 'Mar', 'Mer', 'Jeu', 'Ven', 'Sam'],
           today: 'aujourd\'hui',
           clear: 'effacer',
           close: 'fermer',
           formatSubmit: 'yyyy/mm/dd',
          selectYears: 120,
          max: new Date(),
          selectMonths: 12
        });
      });
    </script>
  <% end %>
</div>
