<div class="child-details">
  <h1 class="c-name">
    <i>
    <%= link_to new_born_path @new_born do %>
      <%= @new_born.c_name %>
    <% end %>
    </i>
  </h1>
  <h2 class="vc">
    <%= fa_icon 'street-view' %> 
    <%= t("vaccination.vaccination_calendar") %>
  </h2>
  <div class="calendar-activities">
    <div class="v-linker">
      <div class="sv4-linker"></div>
      <div></div>
      <div class="sv3-linker"></div>
      <div></div>
      <div class="sv2-linker"></div>
      <div></div>
      <div class="sv1-linker"></div>
      <div></div>
    </div>
    <div class="data-container">
      <div class="vaccines">
        <ul>
          <li>BCG</li>
          <li>POLIO</li>
        </ul>
      </div><!--
      --><div class="h-linker">
        <div class="sh4-linker"></div><!--
        --><div class="sh3-linker"></div><!--
        --><div class="sh2-linker"></div><!--
        --><div class="sh1-linker"></div>
      </div><!--
      --><div class="stage-indicator">
          <p class="vaccine-time"><%= t("vaccination.at_birth") %></p>
          <p>
            <%= @vaccination_calendar.at_birth_d ? formated_date(@vaccination_calendar.at_birth_d) : t('vaccination.date_not_set')  %>
          </p>
      </div><!--
      --><div class="h-linker h-left"> 
        <div class="sh1-linker"></div><!--
        --><div class="sh2-linker"></div><!--
        --><div class="sh3-linker"></div><!--
        --><div class="sh4-linker"></div>  
      </div><!--
      --><div class="administration-status">
        <ul>
          <% if @vaccination_calendar.at_birth %>
            <li class="status-edit at_birth">
              <%= link_to new_born_vaccination_calendar_path(aspect: 'at_birth'), remote: true, method: 'patch' do %>
                <%= t("vaccination.done_deal") %>
                <%= fa_icon 'check' %>
              <% end %>
            </li>
            <li class="state-indicator"><%= fa_icon 'heart' %></li>
          <% else %>
            <li class="status-edit at_birth">
              <%= link_to new_born_vaccination_calendar_path(aspect: 'at_birth'), remote: true, method: 'patch' do %>
                <%= t("vaccination.mark_done") %>
                 <%= fa_icon 'star' %>
              <% end %>
            </li>
            <li class="state-indicator"><%= fa_icon 'times' %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="v-linker s-o">
      <div class="sv4-linker"></div>
      <div></div>
      <div class="sv3-linker"></div>
      <div></div>
      <div class="sv2-linker"></div>
      <div></div>
      <div class="sv1-linker"></div>
      <div></div>
    </div>
    <div class="data-container">
      <div class="vaccines">
        <ul>
          <li>DPT 1</li>
          <li>PNEUMO 1</li>
          <li>ROTO 1</li>
          <li>POLIO 1</li>
        </ul>
      </div><!--
      --><div class="h-linker">
        <div class="sh4-linker"></div><!--
        --><div class="sh3-linker"></div><!--
        --><div class="sh2-linker"></div><!--
        --><div class="sh1-linker"></div>
      </div><!--
      --><div class="stage-indicator">
          <p class="vaccine-time"><%= t("vaccination.six_weeks") %></p>
          <p><%= @vaccination_calendar.six_weeks_d ? formated_date(@vaccination_calendar.six_weeks_d) : t('vaccination.date_not_set')  %></p>
      </div><!--
      --><div class="h-linker h-left"> 
        <div class="sh1-linker"></div><!--
        --><div class="sh2-linker"></div><!--
        --><div class="sh3-linker"></div><!--
        --><div class="sh4-linker"></div>  
      </div><!--
      --><div class="administration-status">
        <ul>
          <% if @vaccination_calendar.six_weeks %>
            <li class="status-edit six_weeks">
              <%= link_to new_born_vaccination_calendar_path(aspect: 'six_weeks'), remote: true, method: 'patch'  do %>
                <%= t("vaccination.done_deal") %> <%= fa_icon 'check' %>
              <% end %>
            </li>
            <li class="state-indicator"><%= fa_icon 'heart' %></li>
          <% else %>
            <li class="status-edit six_weeks">
              <%= link_to new_born_vaccination_calendar_path(aspect: 'six_weeks'), remote: true, method: 'patch' do %>
                <%= t("vaccination.mark_done") %>
                 <%= fa_icon 'star' %>
              <% end %>
            </li>
            <li class="state-indicator"><%= fa_icon 'times' %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="v-linker">
      <div class="sv4-linker"></div>
      <div></div>
      <div class="sv3-linker"></div>
      <div></div>
      <div class="sv2-linker"></div>
      <div></div>
      <div class="sv1-linker"></div>
      <div></div>
    </div>
    <div class="data-container">
      <div class="vaccines">
        <ul>
          <li>DPT 2</li>
          <li>PNEUMO 2</li>
          <li>ROTO 2</li>
          <li>POLIO 2</li>
        </ul>
      </div><!--
      --><div class="h-linker">
        <div class="sh4-linker"></div><!--
        --><div class="sh3-linker"></div><!--
        --><div class="sh2-linker"></div><!--
        --><div class="sh1-linker"></div>
      </div><!--
      --><div class="stage-indicator">
          <p class="vaccine-time"><%= t("vaccination.ten_weeks") %></p>
          <p><%= @vaccination_calendar.ten_weeks_d ? formated_date(@vaccination_calendar.ten_weeks_d) : t('vaccination.date_not_set')  %></p>
      </div><!--
      --><div class="h-linker h-left"> 
        <div class="sh1-linker"></div><!--
        --><div class="sh2-linker"></div><!--
        --><div class="sh3-linker"></div><!--
        --><div class="sh4-linker"></div>  
      </div><!--
      --><div class="administration-status">
        <ul>
          <% if @vaccination_calendar.ten_weeks %>
            <li class="status-edit ten_weeks">
              <%= link_to new_born_vaccination_calendar_path(aspect: 'ten_weeks'), remote: true, method: 'patch'  do %>
                <%= t("vaccination.done_deal") %> <%= fa_icon 'check' %>
              <% end %>
            </li>
            <li class="state-indicator"><%= fa_icon 'heart' %></li>
          <% else %>
            <li class="status-edit ten_weeks">
              <%= link_to new_born_vaccination_calendar_path(aspect: 'ten_weeks'), remote: true, method: 'patch' do %>
                <%= t("vaccination.mark_done") %>
                 <%= fa_icon 'star' %>
              <% end %>
            </li>
            <li class="state-indicator"><%= fa_icon 'times' %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="v-linker s-o">
      <div class="sv4-linker"></div>
      <div></div>
      <div class="sv3-linker"></div>
      <div></div>
      <div class="sv2-linker"></div>
      <div></div>
      <div class="sv1-linker"></div>
      <div></div>
    </div>
    <div class="data-container">
      <div class="vaccines">
        <ul>
          <li>DPT 3</li>
          <li>PNEUMO 3</li>
          <li>POLIO 3</li>
          <li>IPV 3</li>
        </ul>
      </div><!--
      --><div class="h-linker">
        <div class="sh4-linker"></div><!--
        --><div class="sh3-linker"></div><!--
        --><div class="sh2-linker"></div><!--
        --><div class="sh1-linker"></div>
      </div><!--
      --><div class="stage-indicator">
          <p class="vaccine-time"><%= t("vaccination.fourteen_weeks") %></p>
          <p><%= @vaccination_calendar.fourteen_weeks_d ? formated_date(@vaccination_calendar.fourteen_weeks_d) : t('vaccination.date_not_set')  %></p>
      </div><!--
      --><div class="h-linker h-left"> 
        <div class="sh1-linker"></div><!--
        --><div class="sh2-linker"></div><!--
        --><div class="sh3-linker"></div><!--
        --><div class="sh4-linker"></div>  
      </div><!--
      --><div class="administration-status">
        <ul>
          <% if @vaccination_calendar.fourteen_weeks %>
            <li class="status-edit fourteen_weeks">
              <%= link_to new_born_vaccination_calendar_path(aspect: 'fourteen_weeks'), remote: true, method: 'patch'  do %>
                <%= t("vaccination.done_deal") %> <%= fa_icon 'check' %>
              <% end %>
            </li>
            <li class="state-indicator"><%= fa_icon 'heart' %></li>
          <% else %>
            <li class="status-edit fourteen_weeks">
              <%= link_to new_born_vaccination_calendar_path(aspect: 'fourteen_weeks'), remote: true, method: 'patch' do %>
                <%= t("vaccination.mark_done") %>
                 <%= fa_icon 'star' %>
              <% end %>
            </li>
            <li class="state-indicator"><%= fa_icon 'times' %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="v-linker">
      <div class="sv4-linker"></div>
      <div></div>
      <div class="sv3-linker"></div>
      <div></div>
      <div class="sv2-linker"></div>
      <div></div>
      <div class="sv1-linker"></div>
      <div></div>
    </div>
    <div class="data-container">
      <div class="vaccines">
        <ul>
          <li>VIT A</li>
        </ul>
      </div><!--
      --><div class="h-linker">
        <div class="sh4-linker"></div><!--
        --><div class="sh3-linker"></div><!--
        --><div class="sh2-linker"></div><!--
        --><div class="sh1-linker"></div>
      </div><!--
      --><div class="stage-indicator">
          <p class="vaccine-time"><%= t("vaccination.six_months") %></p>
          <p><%= @vaccination_calendar.six_months_d ? formated_date(@vaccination_calendar.six_months_d) : t('vaccination.date_not_set')  %></p>
      </div><!--
      --><div class="h-linker h-left"> 
        <div class="sh1-linker"></div><!--
        --><div class="sh2-linker"></div><!--
        --><div class="sh3-linker"></div><!--
        --><div class="sh4-linker"></div>  
      </div><!--
      --><div class="administration-status">
        <ul>
          <% if @vaccination_calendar.six_months %>
            <li class="status-edit six_months">
              <%= link_to new_born_vaccination_calendar_path(aspect: 'six_months'), remote: true, method: 'patch'  do %>
                <%= t("vaccination.done_deal") %> <%= fa_icon 'check' %>
              <% end %>
            </li>
            <li class="state-indicator"><%= fa_icon 'heart' %></li>
          <% else %>
            <li class="status-edit six_months">
              <%= link_to new_born_vaccination_calendar_path(aspect: 'six_months'), remote: true, method: 'patch' do %>
                <%= t("vaccination.mark_done") %>
                 <%= fa_icon 'star' %>
              <% end %>
            </li>
            <li class="state-indicator"><%= fa_icon 'times' %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="v-linker s-o">
      <div class="sv4-linker"></div>
      <div></div>
      <div class="sv3-linker"></div>
      <div></div>
      <div class="sv2-linker"></div>
      <div></div>
      <div class="sv1-linker"></div>
      <div></div>
    </div>
    <div class="data-container">
      <div class="vaccines">
        <ul>
          <li><%= t("vaccination.measles") %></li>
          <li><%= t("vaccination.yellow_fever") %></li>
        </ul>
      </div><!--
      --><div class="h-linker">
        <div class="sh4-linker"></div><!--
        --><div class="sh3-linker"></div><!--
        --><div class="sh2-linker"></div><!--
        --><div class="sh1-linker"></div>
      </div><!--
      --><div class="stage-indicator">
          <p class="vaccine-time"><%= t("vaccination.nine_months") %></p>
          <p><%= @vaccination_calendar.nine_months_d ? formated_date(@vaccination_calendar.nine_months_d) : t('vaccination.date_not_set')  %></p>
      </div><!--
      --><div class="h-linker h-left"> 
        <div class="sh1-linker"></div><!--
        --><div class="sh2-linker"></div><!--
        --><div class="sh3-linker"></div><!--
        --><div class="sh4-linker"></div>  
      </div><!--
      --><div class="administration-status">
        <ul>
          <% if @vaccination_calendar.nine_months %>
            <li class="status-edit nine_months">
              <%= link_to new_born_vaccination_calendar_path(aspect: 'nine_months'), remote: true, method: 'patch'  do %>
                <%= t("vaccination.done_deal") %> <%= fa_icon 'check' %>
              <% end %>
            </li>
            <li class="state-indicator"><%= fa_icon 'heart' %></li>
          <% else %>
            <li class="status-edit nine_months">
              <%= link_to new_born_vaccination_calendar_path(aspect: 'nine_months'), remote: true, method: 'patch' do %>
                <%= t("vaccination.mark_done") %>
                 <%= fa_icon 'star' %>
              <% end %>
            </li>
            <li class="state-indicator"><%= fa_icon 'times' %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="v-linker">
      <div class="sv4-linker"></div>
      <div></div>
      <div class="sv3-linker"></div>
      <div></div>
      <div class="sv2-linker"></div>
      <div></div>
      <div class="sv1-linker"></div>
      <div></div>
    </div>
    <div class="data-container">
      <div class="vaccines">
        <ul>
          <li>VIT A</li>
        </ul>
      </div><!--
      --><div class="h-linker">
        <div class="sh4-linker"></div><!--
        --><div class="sh3-linker"></div><!--
        --><div class="sh2-linker"></div><!--
        --><div class="sh1-linker"></div>
      </div><!--
      --><div class="stage-indicator">
          <p class="vaccine-time"><%= t("vaccination.one_year") %></p>
          <p><%= @vaccination_calendar.one_year_d ? formated_date(@vaccination_calendar.one_year_d) : t('vaccination.date_not_set')  %></p>
      </div><!--
      --><div class="h-linker h-left"> 
        <div class="sh1-linker"></div><!--
        --><div class="sh2-linker"></div><!--
        --><div class="sh3-linker"></div><!--
        --><div class="sh4-linker"></div>  
      </div><!--
      --><div class="administration-status">
        <ul>
          <% if @vaccination_calendar.one_year %>
            <li class="status-edit one_year">
              <%= link_to new_born_vaccination_calendar_path(aspect: 'one_year'), remote: true, method: 'patch'  do %>
                <%= t("vaccination.done_deal") %> <%= fa_icon 'check' %>
              <% end %>
            </li>
            <li class="state-indicator"><%= fa_icon 'heart' %></li>
          <% else %>
            <li class="status-edit one_year">
              <%= link_to new_born_vaccination_calendar_path(aspect: 'one_year'), remote: true, method: 'patch' do %>
                <%= t("vaccination.mark_done") %>
                 <%= fa_icon 'star' %>
              <% end %>
            </li>
            <li class="state-indicator"><%= fa_icon 'times' %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="n4y-calendar calendar-activities">
    <h2 class="show-n4y">
    <%= link_to new_born_appointments_path(@new_born), class: "board-item cal" do %>
        <%= fa_icon "calendar" %> <%= t('vaccination.appointments') %>
      <% end %>
      </h1>
    <div class="v-linker s-o">
      <div class="sv4-linker"></div>
      <div></div>
      <div class="sv3-linker"></div>
      <div></div>
      <div class="sv2-linker"></div>
      <div></div>
      <div class="sv1-linker"></div>
      <div></div>
    </div>
    <div class="data-container">
      <div class="vaccines">
        <ul>
          <li>VIT A</li>
        </ul>
      </div><!--
      --><div class="h-linker">
        <div class="sh4-linker"></div><!--
        --><div class="sh3-linker"></div><!--
        --><div class="sh2-linker"></div><!--
        --><div class="sh1-linker"></div>
      </div><!--
      --><div class="stage-indicator">
          <p class="vaccine-time">1 year 6 months</p>
          <p><%= @vaccination_calendar.at_birth_d ? formated_date(@vaccination_calendar.at_birth_d) : t('vaccination.date_not_set')  %></p>
      </div><!--
      --><div class="h-linker h-left"> 
        <div class="sh1-linker"></div><!--
        --><div class="sh2-linker"></div><!--
        --><div class="sh3-linker"></div><!--
        --><div class="sh4-linker"></div>  
      </div><!--
      --><div class="administration-status">
        <ul>
          <li class="status-edit"><a href="#"><%= t("vaccinmark_done_birth") %>
           <%= fa_icon 'star' %></a></li>
          <li>Upcoming <%= fa_icon 'calendar' %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
