<h1><%= t("appointments.tomorrow") %></h1>
<% if @appointments.empty? %>
  <h1><%= t('appointments.no_appointments') %></h1>
<% else %>
  <h1 id="tobe-reminded" class="reminder <%= !@status ? 'show' : 'hide' %>">
    <%= link_to reminder_path(due_in: 'one_day'), remote: true, method: 'patch', data: { disable_with: "#{t('sweet_alert.sending_reminders')}", disable: true } do %>
      <%= t("appointments.send_reminder") %>
    <% end %>
  </h1>
  <h1 id="reminded" class="reminded already <%= @status ? 'show' : 'hide' %>">
    <%= t("appointments.reminded") %>
  </h1>
<% end %>
<div class="purpose-bc">
  <div class="purpose-board bcg">
    <h2><%= t("appointments.edit.at_birth") %></h2>
    <p class="number"><%= t("vaccination.appointments") %>: <%= @appointment_stats["at_birth"] || 0 %>
    <div class="purpose-time">
      <p><%= t("vaccination.at_birth") %></p>
    </div>
  </div>

  <div class="purpose-board six-weeks">
    <h2><%= t("appointments.edit.six_weeks") %></h2>
    <p class="number"><%= t("vaccination.appointments") %>: <%= @appointment_stats["six_weeks"] || 0 %>
    <div class="purpose-time">
      <p><%= t("vaccination.six_weeks") %></p>
    </div>
  </div>

  <div class="purpose-board ten-weeks">
    <h2><%= t("appointments.edit.ten_weeks") %></h2>
    <p class="number"><%= t("vaccination.appointments") %>: <%= @appointment_stats["ten_weeks"] || 0 %>
    <div class="purpose-time">
      <p><%= t("vaccination.ten_weeks") %></p>
    </div>
  </div>

  <div class="purpose-board fourteen-weeks">
    <h2><%= t("appointments.edit.fourteen_weeks") %></h2>
    <p class="number"><%= t("vaccination.appointments") %>: <%= @appointment_stats["fourteen_weeks"] || 0 %>
    <div class="purpose-time">
      <p><%= t("vaccination.fourteen_weeks") %></p>
    </div>
  </div>

  <div class="purpose-board six-months">
    <h2><%= t("appointments.edit.six_months") %></h2>
    <p class="number"><%= t("vaccination.appointments") %>: <%= @appointment_stats["six_months"] || 0 %>
    <div class="purpose-time">
      <p><%= t("vaccination.six_months") %></p>
    </div>
  </div>

  <div class="purpose-board nine-months">
    <h2><%= t("appointments.edit.nine_months") %></h2>
    <p class="number"><%= t("vaccination.appointments") %>: <%= @appointment_stats["nine_months"] || 0 %>
    <div class="purpose-time">
      <p><%= t("vaccination.nine_months") %></p>
    </div>
  </div>

  <div class="purpose-board one-year">
    <h2><%= t("appointments.edit.one_year") %></h2>
    <p class="number"><%= t("vaccination.appointments") %>: <%= @appointment_stats["one_year"] || 0 %>
    <div class="purpose-time">
      <p><%= t("vaccination.one_year") %></p>
    </div>
  </div>
</div>
