<h1>The 237councils Blog</h1>


<div class="blog-w">
  <h3>Purpose of the Blog</h3>

  <p>Birth, Health, Marriage and Death are probably some of the most important aspects that are taken into consideration when developing government policy. How healthy people are is usually a great indicator of every other aspect of the state of a country. Marriage provides the most important building block of a society, the more people get married the better an economy gets, and the more stable a society becomes. <a href="https://www.roger-pearse.com/weblog/2014/01/17/did-moral-decay-destroy-the-ancient-world/" target="blank">Was divorce one of the contributing factors to the fall of the Roman Empire?</a>, that is left to debate, but one thing is sure it is the reason most families are destroyed. Life expectancy is a true indicator of the success of government policy. Birth on the other hand guarantees the continuity of a nation. These four aspects provide a birds eye view into the state of a nation. The purpose of 237councils is to make these three aspects readily available to every cameroonian, with statistics developed at the level of the local council, to promote decentralistaion. We hope to inpire facts based debate around these issues.  </p>

  <h3>Death Statistics</h3>

  <p>So there are several methods we employ to collect death statistics, but our primary sources of information are the hospitals, the local council councillors and the religious institutions responsible for carrying out burial rites. The registered local council implores upon all these institutions to give feedback to their councillor if the deceased did not pass on in a health facility. We also request that the religious authorities responsible for carrying out burial rites make sure that the deceased is registered to be certified as dead before proceeding with the burial. In cases where the cause of death is a cultural taboo, we rely completely on the head of the families to make this information known to us in respect of their respective cultural values and promise to not make this information public. We are really not interested in tying specific information to individuals, as we prefer to keep the information generic and stay within the bounds of the national law concerning such matters.</p>

  <h4 class="factors-of-interest">Data we are interested in</h4>
  <ul class="factors">
    <li><%= fa_icon 'angle-right' %> Cause of death</li>
    <li><%= fa_icon 'angle-right' %> Age of the deceased</li>
    <li><%= fa_icon 'angle-right' %> Sex of the deceased</li>
    <li><%= fa_icon 'angle-right' %> Marital status of the deceased</li>
    <li><%= fa_icon 'angle-right' %> Number of kids</li>
    <li><%= fa_icon 'angle-right' %> Place of Death</li>
    <li><%= fa_icon 'angle-right' %> Occupation</li>
    <li><%= fa_icon 'angle-right' %> Residence of the deceased</li>
    <li><%= fa_icon 'angle-right' %> Religious beliefs(optional)</li>
    <li><%= fa_icon 'angle-right' %> Employment status</li>
    <li><%= fa_icon 'angle-right' %> Work designation by collar color</li>
    <li><%= fa_icon 'angle-right' %> Sub division where deceased died</li>
  </ul>

  <h3>Birth Statistics</h3>

  <p>We collect our birth statistics from the health units. Some children are born without out of designated health units, but we recommend that they be taken to a local health center or hospital for medical attendance and then birth data is collected from there. This allows us to collect medically accurate information, that local midwives are not equipped to provide and also to ascertain the health status of the new born, making subsequent follow up by the local council health workers possible</p>

  <h4 class="factors-of-interest">Data we are interested in</h4>
  <ul class="factors">
    <li><%= fa_icon 'angle-right' %> Place of birth</li>
    <li><%= fa_icon 'angle-right' %> Date of birt(hour if available)</li>
    <li><%= fa_icon 'angle-right' %> Sex of the new born</li>
    <li><%= fa_icon 'angle-right' %> Age of the mother</li>
    <li><%= fa_icon 'angle-right' %> Age of the father(optional)</li>
    <li><%= fa_icon 'angle-right' %> Medical data</li>
    <li><%= fa_icon 'angle-right' %> Mother's occupation</li>
    <li><%= fa_icon 'angle-right' %> Father's occupation(optional)</li>
    <li><%= fa_icon 'angle-right' %> Clinical care prior to birth?</li>
    <li><%= fa_icon 'angle-right' %> Mother contact</li>
    <li><%= fa_icon 'angle-right' %> Father or guardians contact</li>
    <li><%= fa_icon 'angle-right' %> Sub division of birth</li>
  </ul>

  <h3>Marriage Statistics</h3>

  <p>Alot of people get married in Cameroon traditionally and never make it to the court. This means that alot of marriages are not certified and do not have a legal backing. This poses serious problems, because in the likelihood of a divorce, settlement most often than is biased and the wife is not treated fairly. We seek to make sure that all marriages are recorded in the local council and that the marriage contracts are made readily available to the justice system in the event of divorce. Also there are cases where marriage certificates get missing or are destroyed because they provide the only legal backing to the wife. Having a digital record, means this information will always be available. However the legality of digital records in Cameroon is still to be established, but this is a good place to start.</p>

  <h4 class="factors-of-interest">Data we are interested in</h4>
  <ul class="factors">
    <li><%= fa_icon 'angle-right' %> Age of husband & wife</li>
    <li><%= fa_icon 'angle-right' %> Residence of Husband & wife</li>
    <li><%= fa_icon 'angle-right' %> Husband & wife's occupation</li>
    <li><%= fa_icon 'angle-right' %> Husband & wife's nationality</li>
    <li><%= fa_icon 'angle-right' %> Type of ownership in the marriage</li>
    <li><%= fa_icon 'angle-right' %> Type of marriage</li>
    <li><%= fa_icon 'angle-right' %> Any children out of wedlock?</li>
    <li><%= fa_icon 'angle-right' %> Years of cohabitation(optional)</li>
    <li><%= fa_icon 'angle-right' %> Same religious beliefs?</li>
    <li><%= fa_icon 'angle-right' %> Same tribes?</li>
    <li><%= fa_icon 'angle-right' %> Same first language?</li>
    <li><%= fa_icon 'angle-right' %> Sub division of marriage</li>
  </ul>

  <h5>Some of this data is not yet collected by the local council, so it will be a while before our statistical analysis start to reflect them</h5>

  <h3>Interested in acquiring data for research?</h3>

  <p>We are abosulutely delighted with providing you data for your research projects. One of the goals of this platform is to provide this data, to enhance the quality of research done by researches all over the national territory. We also offer some analaytics solutions for you and hope to make others more available in the near future. But we note and hope you make this evident in your research findings that you are responsible for how you interprete the data we give you. If you do draw any conclusions from interpretations made by us, cite them and provide references to the interpretations.</p>

  <div class="warning">
    <%= fa_icon 'warning' %>
    <p>You are responsible for your interpretations of the data we give to you. Cite us if you are using any of our interpretations and provide references to these interpretations</p>
  </div>

  <h4 class="factors-of-interest">Procedure to obtain data</h4>
  <ul class="factors">
    <li class="long-factor"><%= fa_icon 'angle-right' %> Send us a DM on twitter @237councils</li>
    <li class="long-factor"><%= fa_icon 'angle-right' %> You will get a reply in less than an hour</li>
    <li class="short-factor"><%= fa_icon 'angle-right' %> Thats it....</li>
  </ul>
  

  <h3>How can you be of help?</h3>

  <p>We are still starting up, so there is alot of data that is needed from the local councils that we are not yet aware of. This means that if we are to move ahead we rely on everyone to chip in or chime in. All ideas are welcomed. Do not think an idea, you have is impossible, nothing is. Tell us how we can be of help and we will jump on it and no matter how long it takes provide a solution that will benefit all based on your suggestions. Do not only look for something we haven't done but also suggest some things we can do to better the solutions we already provide. We also hope to publish research articles in the future, so if you are a researcher and will love to have your article published on here you should reach out to us too.</p>

  <h4 class="factors-of-interest">Procedure to make a suggestion</h4>
  <ul class="factors">
    <li class="long-factor"><%= fa_icon 'angle-right' %> Send us a DM on twitter @237councils</li>
    <li class="long-factor"><%= fa_icon 'angle-right' %> You will get a reply in less than an hour</li>
    <li class="short-factor"><%= fa_icon 'angle-right' %> Thats it....</li>
  </ul>

  <h5>Thanks for checking up and for your future suggestions. <span class="highlight-green">Team Agape <%= fa_icon 'heart' %></span></h5>
</div>


  




