<h1><%= t('statistics.todays_births') %></h1>
<p class="new-marriages basic-stats"><%= @stats[:sum].to_i %> <%= t('statistics.number_bt') %></p>

<% if !@stats[:mean].nil? && @stats[:mean] > 0 %>
  <%= render 'statistics/charts', { data: @data, stats: @stats } %>
<% else %>
  <h3 class="nothing"><%= t('statistics.no_deaths') %></h3>
<% end %>
