<h1>Appointments for 
<i class="new-appointment">
  <%= link_to new_born_path @new_born do  @new_born.c_name end %>
</i>
</h1>

<div class="main dashboard">
  <div class="appointments">
  <table class="appointment">
  <thead>
    <tr>
      <th>Purpose</th>
      <th>Date</th>
      <th>Status</th>
      <th>Update Status</th>
    </tr>
  </thead>
  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= @set[appointment.purpose.to_sym] %></td>
        <td><%= formated_date appointment.date %></td>
        <td><%= appointment.kept && appointment.date <= Date.today ? "appointment kept" : appointment.date < Date.today ? "appointment was missed" :
        appointment.kept && appointment.date > Date.today ? "appointment cancelled" : "upcoming" %></td>
        <td class="edit-appointment">
          <%= link_to edit_new_born_appointment_path(@new_born, appointment), class: "board-item cal" do %>
            <%= fa_icon "pencil" %> <%= t('.edit_appointment') %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>

<div class="control">
  <p class="add-appointment">
    <%= link_to new_new_born_appointment_path(@new_born), class: "board-item cal" do %>
      <%= fa_icon "calendar" %> <%= t('.add_new_appointment') %>
    <% end %>
  </p>
</div>



