<li class="has-date">
  <%= link_to deceased_path deceased do %>
    <div class="item-container">
      <h3>
        <%= fa_icon 'child' %>
        <%= t('.deceased_name') %>:
        <span><%= deceased.d_name %></span>
      </h3>
      <p>
        <%= fa_icon 'id-card' %>
        <span><%= t('.place_of_death') %>:</span>
        <span class="certificate_numbe"><%= deceased.d_pd %></span>
      </p>
      <p>
        <%= fa_icon 'id-card' %>
        <%= fa_icon 'square' %>
        <span><%= t('.date_of_birth') + t('.and') + t('.place_of_birth') %>:</span>
        <span class="certificate_numbe"><%= formated_date(deceased.d_db) + ', ' + deceased.d_pb %></span>
      </p>
      <p>
        <%= fa_icon 'male' %>
        <%= fa_icon 'female' %>
        <span><%= t('.sex') %>:</span>
        <span><%= t('.' + deceased.sex) %></span>
      </p>
      <p>
        <%= fa_icon 'male' %>
        <%= fa_icon 'female' %>
        <span><%= t('.fathers_name') + t('.and') + t('.mothers_name')%>:</span>
        <span><%= deceased.f_name + t('.and') + deceased.m_name +  t('.respectively') %></span>
      </p>
      <p>
        <%= fa_icon 'home' %>
        <span><%= t('.father_and_mothers_res') %>:</span>
        <span><%= deceased.f_res + t('.and') + deceased.m_res + t('.respectively') %></span>
      </p>
      <p>
        <%= fa_icon 'phone' %>
        <span><%= t('.contact') %>:</span>
        <span><%= deceased.contact_tel %></span>
      </p>

      <time class="item-date-ribbon bad-news"><%= t('.died') %>: <%= formated_date deceased.d_dd %></time>
    </div>
  <% end %>

  <% if current_hospital %>
    <div class="childs-board">
      <% if deceased.cause_of_death %>
          <%= link_to deceased_cause_of_death_path(deceased, deceased.cause_of_death), class: "board-item m-health " do %>
          <%= fa_icon "info" %> <%= t('.cause_of_death') %>
        <% end %>
      <% else %>
        <%= link_to new_deceased_cause_of_death_path(deceased), class: "board-item m-health adder" do %>
          <%= fa_icon "plus" %> <%= t('.add_cause_of_death') %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</li>


