<h1><%= @deceased.d_name %></h1>
<div class="main register-citizen">
  <div id="new-citizen">
    <h2>
      Death Registration Card
    </h2>
    <label><%= t('.deceaseds_name') %></label>
    <input type="text" value="<%= @deceased.d_name %>" disabled>
    <label><%= t('.date_of_birth') %></label>
    <input type="text" value="<%= formated_date @deceased.d_db %>" disabled>
    <label><%= t('.place_of_birth') %></label>
    <input type="text" value="<%= @deceased.d_pb %>" disabled>
    <label><%= t('.date_of_death') %></label>
    <input type="text" value="<%= formated_date @deceased.d_dd %>" disabled>
    <label><%= t('.place_of_death') %></label>
    <input type="text" value="<%= @deceased.d_pd %>" disabled>
    <label><%= t('.occupation') %></label>
    <input type="text" value="<%= @deceased.d_job %>" disabled>
    <label><%= t('.Marital status') %></label>
    <input type="text" value="<%= @deceased.marital_status %>" disabled>
    <label><%= t('.Number of children') %></label>
    <input type="text" value="<%= @deceased.num_children %>" disabled>
    <label><%= t('.Sex') %></label>
    <input type="text" value="<%= @deceased.sex %>" disabled>

    <h3><%= t('.fathers_details') %></h3>

    <label><%= t('.fathers_name') %></label>
    <input type="text" value="<%= @deceased.f_name %>" disabled>
    <label><%= t('.fathers_residence') %></label>
    <input type="text" value="<%= @deceased.f_res %>" disabled>

    <h3><%= t('.mothers_details') %></h3>

    <label><%= t('.mothers_name') %></label>
    <input type="text" value="<%= @deceased.m_name %>" disabled>
    <label><%= t('.mothers_residence') %></label>
    <input type="text" value="<%= @deceased.m_res %>" disabled>


    <h3>Guardians Contact Details</h3>
    <label>Persorn to contact's name</label>
    <input type="text" value="<%= @deceased.contact %>" disabled>
    <label>Phone Number</label>
    <input type="text" value="<%= @deceased.contact_tel %>" disabled>
    <label><%= t('.Contacts language preference') %></label>
    <input type="text" value="<%= @deceased.contact_lang.capitalize %>" disabled>
  </div>
</div>
