<h1><%= @deceased.d_name %></h1>
<div class="main register-citizen">
  <div id="new-citizen">
    <h2><%= t('.death_registration_card') %></h2>
    <label><%= t('.deceased_name') %></label>
    <input type="text" value="<%= @deceased.d_name %>" disabled>
    <label><%= t('.date_of_birth') %></label>
    <input type="text" value="<%= formated_date @deceased.d_db %>" disabled>
    <label><%= t('.place_of_birth') %></label>
    <input type="text" value="<%= @deceased.d_pb %>" disabled>
    <label><%= t('.date_of_death') %></label>
    <input type="text" value="<%= formated_date @deceased.d_dd %>" disabled>
    <label><%= t('.place_of_death') %></label>
    <input type="text" value="<%= @deceased.d_pd %>" disabled>
    <label><%= t('.occupation') %></label>
    <input type="text" value="<%= @deceased.d_job %>" disabled>
    <label><%= t('.marital_status') %></label>
    <input type="text" value="<%= @deceased.marital_status %>" disabled>
    <label><%= t('.number_of_children') %></label>
    <input type="text" value="<%= @deceased.num_children %>" disabled>
    <label><%= t('.sex') %></label>
    <input type="text" value="<%= t('.' + @deceased.sex) %>" disabled>

    <h3><%= t('.fathers_details') %></h3>

    <label><%= t('.fathers_name') %></label>
    <input type="text" value="<%= @deceased.f_name %>" disabled>
    <label><%= t('.fathers_residence') %></label>
    <input type="text" value="<%= @deceased.f_res %>" disabled>

    <h3><%= t('.mothers_details') %></h3>

    <label><%= t('.mothers_name') %></label>
    <input type="text" value="<%= @deceased.m_name %>" disabled>
    <label><%= t('.mothers_residence') %></label>
    <input type="text" value="<%= @deceased.m_res %>" disabled>


    <h3><%= t('.contacts_details') %></h3>
    <label><%= t('.contacts_name') %></label>
    <input type="text" value="<%= @deceased.contact %>" disabled>
    <label><%= t('.contacts_number') %></label>
    <input type="text" value="<%= @deceased.contact_tel %>" disabled>
    <label><%= t('.preferred_language') %></label>
    <input type="text" value="<%= t('.' + @deceased.contact_lang) %>" disabled>
  </div>

  <% if current_hospital %>
    <div class="control-board">
      <div class="cb-cd">
        <% if @deceased.cause_of_death %>
            <%= link_to deceased_cause_of_death_path(@deceased, @deceased.cause_of_death), class: "board-item m-health " do %>
            <%= fa_icon "info" %> <%= t('cause_of_deaths.cause_of_death') %>
          <% end %>
        <% else %>
          <%= link_to new_deceased_cause_of_death_path(@deceased), class: "board-item m-health adder" do %>
            <%= fa_icon "plus" %> <%= t('cause_of_deaths.add_cause_of_death') %>
          <% end %>
        <% end %>
      </div>
    </div>

    <% if @deceased_added == "added" && !@deceased.cause_of_death %>
    <div class="add-factors">
      <div class="adder-board">
        <div class="control-board">
          <h1>The death of <span class="c-name"><%= @deceased.d_name %></span> was registered ✅</h1>
          <% if !@deceased.cause_of_death %>
            <div class="cb-ch">
              <%= link_to new_deceased_cause_of_death_path @deceased do %>
                <%= fa_icon 'info' %> Click here to add cause of death
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
  <% end %>
</div>
