<li class="has-date">
  <%= link_to marriage_path marriage do %>
    <div class="item-container">
      <h3>
        <%= fa_icon 'male' %> 
        <%= fa_icon 'female' %> 
        <span><%= t('.couple') %>:</span> 
        <span><%= marriage.husband + ' & ' + marriage.wife  %></span>
      </h3>
      <p>
        <%= fa_icon 'id-card' %> 
        <span><%= t('.certificate_number') %>:</span> 
        <span class="certificate_number"><%= marriage.certificate_number %></span>
      </p>
      <p>
        <%= fa_icon 'square' %> 
        <span><%= t('.drawn_at') %>:</span> 
        <span><%= marriage.drawn_at %></span>
      </p>
      <p>
        <%= fa_icon 'male' %> 
        <span><%= t('.husbands_w') %>:</span> 
        <span><%= marriage.husband_w %></span>
      </p>
      <p>
        <%= fa_icon 'female' %> 
        <span><%= t('.wifes_w') %>:</span> 
        <span><%= marriage.wife_w %></span>
      </p>
      <p>
        <%= fa_icon 'male' %> 
        <span><%= t('.husbands_fh') %>:</span> 
        <span><%= marriage.husband_fh %></span>
      </p>
      <p>
        <%= fa_icon 'female' %> 
        <span><%= t('.wifes_fh') %>:</span> 
        <span><%= marriage.wife_fh %></span>
      </p>
      <time class="item-date-ribbon glad-news"><%= t('.married') %>: <%= formated_date marriage.appearance_date %></time>
    </div>
  <% end %>
  <p class="approval-link">
    <a href="#">
      <span><%= t('.inform_guardians') %> 
      <%= fa_icon 'user' %>
      <%= fa_icon 'minus' %>
    </a>  
  </p>
</li>


