<% choice_factor = '88888888' %>
<h1><%= t('.title') %></h1>
<div class="main register-citizen">
  <%= my_form_for @marriage, url: marriages_path(@marriage), html: { id: "new-citizen", class: 'form'} do |f| %>
    <h2><%= t('.mc_form') %></h2>
    <%= f.label :administrative_region_id, t('.region') %>
    <input type="text" value="<%= current_agent.administrative_region_name %>" name="administrative_region" disabled/>
    <label><%= t('.division') %></label>
    <input type="text" value="<%= current_agent.division_name %>" name="division" disabled/>
    <label><%= t('.sub_division') %></label>
    <input type="text" value="<%= current_agent.sub_division_name.capitalize %>" name="administrative_region" disabled/>
    <label><%= t('.council') %></label>
    <input type="text" value="<%= current_agent.council_name.capitalize + ' Council' %>" name="administrative_region" disabled/>
    <%= f.hidden_field :council_id, value: current_agent.council.id, hidden: true %>
    <%= f.label :certificate_number, t('.certificate_number') %>
    <%= f.text_field :certificate_number %>

    <h3><%= t('.couples_details') %></h3>

    <%= f.label :husband, t('.husband') %>
    <%= f.text_field :husband, class: "husband" %>
    <%= f.label :wife, t('.wife') %>
    <%= f.text_field :wife, class: "wife" %>
    <%= f.label :appearance_date, t('.appearance_date') %>
    <%= f.text_field :appearance_date, class: "datepicker" %>
    <p><%= t('.public_appearance') %></p>
    
    <h3><%= t('.husbands_details') %></h3>

    <%= f.label :husband, t('.mr') %>
    <%= f.text_field :husband, class: "husband" %>
    <%= f.label :husband_db, t('.husbands_date_of_birth') %>
    <%= f.text_field :husband_db, class: "datepicker" %>
    <%= f.label :husband_pb, t('.husbands_place_of_birth') %>
    <%= f.text_field :husband_pb %>
    <%= f.label :husband_job, t('.occupation') %>
    <%= f.text_field :husband_job %>
    <%= f.label :husband_n, t('.nationality') %>
    <%= f.text_field :husband_n %>
    <%= f.label :husband_rf, t('.reference_document') %>
    <%= f.select :husband_rf, options_for_select([[t('.choose_reference'), choice_factor], [t('.id'), 'id'], [t('.bc'), 'bc'], [t('.ban'), 'dan']], @marriage.husband_rf), {}, { class: 'sex chosen-select' } %>
    <%= f.label :husband_res, t('.residence') %>
    <%= f.text_field :husband_res %>
    <%= f.label :husband_f, t('.husbands_father') %>
    <%= f.text_field :husband_f %>
    <%= f.label :husband_m, t('.mother') %>
    <%= f.text_field :husband_m %>

    <p><%= t('.one_hand') %></p>

    <h3><%= t('.wifes_details') %></h3>

    <%= f.label :wife, t('.miss') %>
    <%= f.text_field :wife, class: "wife" %>
    <%= f.label :wife_db, t('.wifes_date_of_birth') %>
    <%= f.text_field :wife_db, class: "datepicker" %>
    <%= f.label :wife_pb, t('.wifes_place_of_birth') %>
    <%= f.text_field :wife_pb %>
    <%= f.label :wife_job, t('.occupation') %>
    <%= f.text_field :wife_job %>
    <%= f.label :wife_n, t('.nationality') %>
    <%= f.text_field :wife_n %>
    <%= f.label :wife_rf, t('.reference_document') %>
    <%= f.select :wife_rf, options_for_select([[t('.choose_reference'), choice_factor], [t('.id'), 'id'], [t('.bc'), 'bc'], [t('.ban'), 'dan']], @marriage.wife_rf), {}, { class: 'sex chosen-select' } %>
    <%= f.label :wife_res, t('.residence') %>
    <%= f.text_field :wife_res %>
    <%= f.label :wife_f, t('.wifes_father') %>
    <%= f.text_field :wife_f %>
    <%= f.label :wife_m, t('.mother') %>
    <%= f.text_field :wife_m %>

    <p><%= t('.other_hand') %></p>

    <h3><%= t('.marriage_details') %></h3>

    <%= f.label :marriage_ownership, t('.regime') %>
    <%= f.select :marriage_ownership, options_for_select([[t('.choose_regime'), choice_factor], [t('.seperate'), 'seperate'], [t('.joint'), 'joint']], @marriage.marriage_ownership), {}, { class: 'sex chosen-select' } %>
    <%= f.label :marriage_type, t('.type') %>
    <%= f.select :marriage_type, options_for_select([[t('.choose_type'), choice_factor], [t('.monogamy'), 'monogamy'], [t('.polygamy'), 'polygamy']], @marriage.marriage_type), {}, { class: 'sex chosen-select' } %>
    <%= f.label :objections_raised, t('.objections') %>
    <%= f.select :objections_raised, options_for_select([[t('.choose_objection'), choice_factor], [t('.yesbo'), 'yes'], [t('.nobo'), 'no']], @marriage.objections_raised), {}, { class: 'sex chosen-select' } %>
    <%= f.label :husband, t('.mr') %>
    <%= f.text_field :husband, class: "husband" %>
    <%= f.label :wife, t('.miss') %>
    <%= f.text_field :wife, class: "wife" %>

    <p><%= t('.both_declared') %></p>

    <p><%= t('.present') %></p>
    <%= f.label :husband_fh, t('.husband_fh') %>
    <%= f.text_field :husband_fh %>
    <%= f.label :wife_fh, t('.wife_fh') %>
    <%= f.text_field :wife_fh %>

    <p><%= t('.agree') %></p>
    <%= f.label :husband_w, t('.husband_w') %>
    <%= f.text_field :husband_w %>
    <%= f.label :wife_w, t('.wife_w') %>
    <%= f.text_field :wife_w %>
    
    <p><%= t('.drawn_by') %></p>
    <%= f.label :registrar, t('.registrar') %>
    <%= f.text_field :registrar %>

    <p><%= t('.sec_present') %></p>

    <%= f.label :secretary, t('.secretary') %>
    <%= f.text_field :secretary %>

    <p></p>
    <%= f.label :drawn_at, t('.at') %>
    <%= f.text_field :drawn_at %>
    <%= f.label :drawn_on, t('.on_the') %>
    <%= f.text_field :drawn_on, class: "datepicker" %>

    <div class="submit">
      <button type="submit"><%= t('.register') %></button>
    </div>
  <% end %>
  <% if I18n.locale == :en %>
  <script>
    $(function() {
      $('.datepicker').pickadate({
        selectYears: 120,
        max: new Date(),
        selectMonths: 12,
        format: 'dd/mm/yyyy'
      });
    });
  </script>
  <% else %>
    <script>
      $(function() {
        $('.datepicker').pickadate({
          monthsFull: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
           weekdaysShort: ['Dim', 'Lun', 'Mar', 'Mer', 'Jeu', 'Ven', 'Sam'],
           today: 'aujourd\'hui',
           clear: 'effacer',
           close: 'fermer',
           format: 'dd/mm/yyyy',
          selectYears: 120,
          max: new Date(),
          selectMonths: 12,
        });
      });
    </script>
  <% end %>
  <script>
    $(".chosen-select").chosen()

    $(".husband").keyup(function(e){
      var val = $(this).val();
      val = val.replace(/[^\w]+/g, " ");
      $(".husband").val(val);
    });

    $(".wife").keyup(function(e){
      var val = $(this).val();
      val = val.replace(/[^\w]+/g, " ");
      $(".wife").val(val);
    });
  </script>
</div>

