<h1><%= @marriage.husband + ' & ' + @marriage.wife %></h1>
<div class="main register-citizen">
  <div id="new-citizen">
    <h2><%= t('.title') %></h2>
    <label>Region</label>
    <input type="text" value="<%= current_agent.administrative_region_name %>" name="administrative_region" disabled/>
    <label><%= t('.division') %></label>
    <input type="text" value="<%= current_agent.division_name %>" name="division" disabled/>
    <label><%= t('.sub_division') %></label>
    <input type="text" value="<%= current_agent.sub_division_name.capitalize %>" name="administrative_region" disabled/>
    <label><%= t('.council') %></label>
    <input type="text" value="<%= current_agent.council_name.capitalize + ' Council' %>" name="administrative_region" disabled/>
    <label>Certificate Number</label>
    <input type="text" value="<%= @marriage.certificate_number %>" disabled>

    <h3><%= t('.couples_details') %></h3>

    <label><%= t('.husband') %></label>
    <input type="text" value="<%= @marriage.husband %>" disabled>
    <label><%= t('.wife') %></label>
    <input type="text" value="<%= @marriage.wife %>" disabled>
    <label><%= t('.appearance_date') %></label>
    <input type="text" value="<%= @marriage.appearance_date %>" disabled>
    <p><%= t('.public_appearance') %></p>
    
    <h3><%= t('.husbands_details') %></h3>

    <label><%= t('.mr') %></label>
    <input type="text" value="<%= @marriage.husband %>" disabled>
    <label><%= t('.husbands_date_of_birth') %></label>
    <input type="text" value="<%= @marriage.husband_db %>" disabled>
    <label><%= t('.husbands_place_of_birth') %></label>
    <input type="text" value="<%= @marriage.husband_pb %>" disabled>
    <label><%= t('.occupation') %></label>
    <input type="text" value="<%= @marriage.husband_job %>" disabled>
    <label><%= t('.nationality') %></label>
    <input type="text" value="<%= @marriage.husband_n %>" disabled>
    <label><%= t('.reference_document') %></label>
    <input type="text" value="<%= t('.' + @marriage.husband_rf) %>" disabled>
    <label><%= t('.residence') %></label>
    <input type="text" value="<%= @marriage.husband_res %>" disabled>
    <label><%= t('.husbands_father') %></label>
    <input type="text" value="<%= @marriage.husband_f %>" disabled>
    <label><%= t('.mother') %></label>
    <input type="text" value="<%= @marriage.husband_m %>" disabled>

    <p><%= t('.one_hand') %></p>

    <h3><%= t('.wifes_details') %></h3>

    <label><%= t('.miss') %></label>
    <input type="text" value="<%= @marriage.wife %>" disabled>
    <label><%= t('.wifes_date_of_birth') %></label>
    <input type="text" value="<%= @marriage.wife_db %>" disabled>
    <label><%= t('.wifes_place_of_birth') %></label>
    <input type="text" value="<%= @marriage.wife_pb %>" disabled>
    <label><%= t('.occupation') %></label>
    <input type="text" value="<%= @marriage.wife_job %>" disabled>
    <label><%= t('.nationality') %></label>
    <input type="text" value="<%= @marriage.wife_n %>" disabled>
    <label><%= t('.reference_document') %></label>
    <input type="text" value="<%= t('.' + @marriage.wife_rf) %>" disabled>
    <label><%= t('.residence') %></label>
    <input type="text" value="<%= @marriage.wife_res %>" disabled>
    <label><%= t('.wifes_father') %></label>
    <input type="text" value="<%= @marriage.wife_f %>" disabled>
    <label><%= t('.mother') %></label>
    <input type="text" value="<%= @marriage.wife_m %>" disabled>

    <p><%= t('.other_hand') %></p>

    <h3><%= t('.marriage_details') %></h3>

    <label><%= t('.regime') %></label>
    <input type="text" value="<%= t('.' + @marriage.marriage_ownership) %>" disabled>
    <label><%= t('.type') %></label>
    <input type="text" value="<%= t('.' + @marriage.marriage_type) %>" disabled>
    <label><%= t('.objections') %></label>
    <input type="text" value="<%= t('.' + @marriage.objections_raised + 'b') %>" disabled>
    <label><%= t('.mr') %></label>
    <input type="text" value="<%= @marriage.husband %>" disabled>
    <label><%= t('.miss') %></label>
    <input type="text" value="<%= @marriage.wife %>" disabled>
    <p><%= t('.both_declared') %></p>
    <p><%= t('.present') %></p>

    <label><%= t('.husband_fh') %></label>
    <input type="text" value="<%= @marriage.husband_fh %>" disabled>
    <label><%= t('.wife_fh') %></label>
    <input type="text" value="<%= @marriage.wife_fh %>" disabled>
    <p><%= t('.agree') %></p>
    <label><%= t('.husband_w') %></label>
    <input type="text" value="<%= @marriage.husband_w %>" disabled>
    <label><%= t('.wife_w') %></label>
    <input type="text" value="<%= @marriage.wife_w %>" disabled>
    
    <p><%= t('.drawn_by') %></p>

    <label><%= t('.registrar') %></label>
    <input type="text" value="<%= @marriage.registrar %>" disabled>
    <label><%= t('.secretary') %></label>
    <input type="text" value="<%= @marriage.secretary %>" disabled>
    <label><%= t('.at') %></label>
    <input type="text" value="<%= @marriage.drawn_at %>" disabled>
    <label><%= t('.on_the') %></label>
    <input type="text" value="<%= @marriage.drawn_on %>" disabled>
  </div>
</div>

