<!DOCTYPE html>
<html>
  <head>
    <title>Councils</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
     <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans" rel="stylesheet">
  </head>

  <body>
    <main class="main responsive">
      <header class="header blog">
        <h1>
          <%= link_to root_path do %>
            <%= fa_icon "arrow-left" %> 237councils
          <% end %>
        </h1>
        <nav>
          <%= render "shared/blog_header" %>
        </nav>
      </header>
      <div class="main-content">
        <%= yield %>
      </div>
    </main>
    <footer>
      <ul>
        <li><a href="#">Twitter</a></li>
        <li><a href="#">Instagram</a></li>
        <li><a href="#">Youtube</a></li>
        <li><a href="#">Facebook</a></li>
        <li><a href="#"><%= t('.about') %></a></li>
        <li><a href="#"><%= t('.careers') %></a></li>
        <li><a href="#"><%= t('.created_by') %> Agape Inc.</a></li>
      </ul>
      <h2>&copy; Agape Inc. 2018 <%= fa_icon 'heart' %></h2>
    </footer>
  </body>
</html>
