<!DOCTYPE html>
<html>
  <head>
    <title>Councils</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

     <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans" rel="stylesheet">
  </head>

  <body>
    <main class="main">
      <header class="header">
        <h1>
          <a href="/"><%= t('.hospital_name', h_name: current_hospital.name.upcase) %></a>
        </h1>
        <nav>
          <%= render "shared/hospital_header" %>
        </nav>
      </header>

      <div id="informant">
        <p class="saving updating"><%= t('.updating') %><span>.</span><span>.</span><span>.</span></p>
        <p class="saving failed"><%= t('.failed') %><span>✘</span></p>
        <p class="saving succeeded"><%= t('.updated') %><span>✅</span></p>
      </div>

      <div id="nav-buttons">
        <p onclick="goBack()" class="back"><%= fa_icon "arrow-left" %> <%= t('layouts.back') %></p>
        <p onclick="goForward()" class="forward"><%= t('layouts.forward') %> <%= fa_icon "arrow-right" %></p>
      </div>

      <div class="main-content">
        <%= yield %>
      </div>
    </main>
    <footer>
      <ul>
        <li><a href="#">Twitter</a></li>
        <li><a href="#">Instagram</a></li>
        <li><a href="#">Youtube</a></li>
        <li><a href="#">Facebook</a></li>
        <li><a href="#"><%= t('.about') %></a></li>
        <li><a href="#"><%= t('.careers') %></a></li>
        <li><a href="#"><%= t('.created_by') %> Agape Inc.</a></li>
      </ul>
      <h2>&copy; Agape Inc. 2018 <%= fa_icon 'heart' %></h2>
    </footer>
  </body>

  <script>
    function goBack() {
      window.history.back();
    }

    function goForward() {
      window.history.forward();
    }  
  </script>
</html>
