<!DOCTYPE html>
<html>
  <head>
    <title>Councils</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans" rel="stylesheet">
  </head>

  <body>
    <main class="main pages responsive">
      <header class="pages-header">
        <h1>
          <%= link_to root_path do %>
            237councils
          <% end %>
        </h1>
        <nav>
          <ul>
            <% if current_agent.nil? && current_hospital.nil? %>
              <li>
                <%= link_to t('.create_account'), new_account_path %>
              </li>
              <li>
                <%= link_to t('.login'), sign_in_path %>
              </li>
            <% elsif current_agent.present? %>
              <li>
                <%= link_to  home_path  do %>
                  <%= fa_icon 'table' %> <%= t('.main_board') %> <%= fa_icon 'arrow-right' %>
                <% end %>
              </li>
            <% elsif current_hospital.present? %>
              <li>
                <%= link_to  health_unit_home_path  do %>
                  <%= fa_icon 'table' %> <%= t('.main_board') %>  <%= fa_icon 'arrow-right' %>
                <% end %>
              </li>
            <% end %>
            <li class="blog-container">
              <%= link_to blog_home_path, class: "blog" do %>
                237councils Blog
                <span class="new"><%= t('.new') %></span>
              <% end %>
            </li>
            <% if I18n.locale == :en %>
              <li class="blog-container">
                <%= link_to root_path(locale: "fr"), class: "blog" do %>
                  FR 
                <% end %>
              </li>
            <% else %>
              <li class="blog-container">
                <%= link_to root_path(locale: "en"), class: "blog" do %>
                  EN 
                <% end %>
              </li>
            <% end %>
          </ul>
        </nav>
      </header>
      <div class="main-content-pages">
        <%= yield %>
      </div>
    </main>
    <footer>
      <ul>
        <li><a href="#">Twitter</a></li>
        <li><a href="#">Instagram</a></li>
        <li><a href="#">Youtube</a></li>
        <li><a href="#">Facebook</a></li>
        <li><a href="#"><%= t('.about') %></a></li>
        <li><a href="#"><%= t('.careers') %></a></li>
        <li><a href="#"><%= t('.created_by') %> Agape Inc.</a></li>
      </ul>
      <h2>&copy; Agape Inc. 2018 <%= fa_icon 'heart' %></h2>
    </footer>
  </body>
</html>
